/**
 *
 * Extends - Common patterns that can be re used and then compiled together for nice pretty code
 *
 * ----------------------------------------------------------------------------
 * 
 *
 */
%center-element {
    margin-left:auto;
    margin-right:auto;
}

%absolute {
    position: absolute;
}

%inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


%border {
	border-width: 1px;
	border-style: solid;
}

%clearfix{
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}
	
	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	*zoom: 1;
}





