/**
 *
 * Layout helpers
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *
 *    
 *		1. Inline block
 *      2. Positioning - Absolute, Floating and Clearfixing 
 *      3. Generic blocks and spacing helpers
 *      4. Media blocks
 *      5. Inline Grid  
 *      6. Arrows  
 *      7. Inline Block 
 *      8. Icon block
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */

/**
 * 1. Inline block
 * ----------------------------------------------------------------------------
 */

.inline-block {
    @extend %inline-block;
}

/**
 * 2. Positioning - Absolute, Floating and Clearfixing 
 * ----------------------------------------------------------------------------
 */

.left {
	float:left;
}

.right {
	float:right;
}

.clearfix{
    @extend %clearfix;
}

.relative {
    position: relative;
}

    .absolute{
        @extend %absolute;
    }

    .absolute--bottom-left {
    	@extend %absolute;
    	bottom:0;
    	left:0;
    }

    .absolute--bottom-right {
    	@extend %absolute;
    	bottom:0;
    	right:0;
    }

    .absolute--top-left {
    	@extend %absolute;
    	top:0;
    	left:0;
    }

    .absolute--top-right {
    	@extend %absolute;
    	top:0;
    	right:0;
    }


/**
 * 3. Generic blocks
 * ----------------------------------------------------------------------------

 */

/*
    making sure the first element has no margin on it 
*/

%block {
    & > :first-child {
         margin-top:0;
    }
    @extend .clearfix;
    margin-top:1em;//$bs--m;
    padding: $bs--m $bs--xl;
}

.block--stacked {
   /*only use this id we don't want a top margin on it */
   margin-top:0!important;
}

    .block--xl {
        @extend %block;
        padding: $bs--xl $bs--xxxl; 
    }

    .block--l {
        @extend %block;
        padding: $bs--l $bs--xxl;
    }

    .block--m {
        @extend %block;
    }

    .block--s {
        @extend %block;
        padding: $bs--s $bs--xs;
    }

    .block--xs {
        @extend %block;
        padding: $bs--xs $bs--xxxs;
    }

/**
 * 3. Spacing helpers
 * ----------------------------------------------------------------------------

 */

//MARGIN-RIGHT standard classses for desktop //default  
.mr--0     { margin-right:$bs--0; }
.mr--xxxs  { margin-right:$bs--xxxs;}
.mr--xxs   { margin-right:$bs--xxs; }
.mr--xs    { margin-right:$bs--xs;}
.mr--s     { margin-right:$bs--s;}
.mr--m     { margin-right:$bs--m;}
.mr--l     { margin-right:$bs--l;}
.mr--xl    { margin-right:$bs--xl;}
.mr--xxl   { margin-right:$bs--xxl;}
.mr--xxxl  { margin-right:$bs--xxxl;}

//MARGIN-LEFT standard classses for desktop //default  
.ml--0     { margin-left:$bs--0;}
.ml--xxxs  { margin-left:$bs--xxxs;}
.ml--xxs   { margin-left:$bs--xxs;}
.ml--xs    { margin-left:$bs--xs;}
.ml--s     { margin-left:$bs--s;}
.ml--m     { margin-left:$bs--m;}
.ml--l     { margin-left:$bs--l;}
.ml--xl    { margin-left:$bs--xl;}
.ml--xxl   { margin-left:$bs--xxl;}
.ml--xxxl  { margin-left:$bs--xxxl;}

//MARGIN-TOP standard classses for desktop //default  
.mt--0     { margin-top:$bs--0; }
.mt--xxxs  { margin-top:$bs--xxxs; }
.mt--xxs   { margin-top:$bs--xxs; }
.mt--xs    { margin-top:$bs--xs;}
.mt--s     { margin-top:$bs--s;}
.mt--m     { margin-top:$bs--m;}
.mt--l     { margin-top:$bs--l;}
.mt--xl    { margin-top:$bs--xl;}
.mt--xxl   { margin-top:$bs--xxl;}
.mt--xxxl  { margin-top:$bs--xxxl;}

//MARGIN-BOTTOM standard classses for desktop //default  
.mb--0     { margin-bottom:$bs--0;}
.mb--xxxs  { margin-bottom:$bs--xxxs;}
.mb--xxs   { margin-bottom:$bs--xxs;}
.mb--xs    { margin-bottom:$bs--xs;}
.mb--s     { margin-bottom:$bs--s;}
.mb--m     { margin-bottom:$bs--m;}
.mb--l     { margin-bottom:$bs--l;}
.mb--xl    { margin-bottom:$bs--xl;}
.mb--xxl   { margin-bottom:$bs--xxl;}
.mb--xxxl  { margin-bottom:$bs--xxxl;}


//PADDING-RIGHT standard classses for desktop //default  
.pr--0     { padding-right:$bs--0; }
.pr--xxxs  { padding-right:$bs--xxxs;}
.pr--xxs   { padding-right:$bs--xxs; }
.pr--xs    { padding-right:$bs--xs;}
.pr--s     { padding-right:$bs--s;}
.pr--m     { padding-right:$bs--m;}
.pr--l     { padding-right:$bs--l;}
.pr--xl    { padding-right:$bs--xl;}
.pr--xxl   { padding-right:$bs--xxl;}
.pr--xxxl  { padding-right:$bs--xxxl;}

//PADDING-LEFT standard classses for desktop //default 
.pl--0     { padding-left:$bs--0;}
.pl--xxxs  { padding-left:$bs--xxxs;}
.pl--xxs   { padding-left:$bs--xxs;}
.pl--xs    { padding-left:$bs--xs;}
.pl--s     { padding-left:$bs--s;}
.pl--m     { padding-left:$bs--m;}
.pl--l     { padding-left:$bs--l;}
.pl--xl    { padding-left:$bs--xl;}
.pl--xxl   { padding-left:$bs--xxl;}
.pl--xxxl  { padding-left:$bs--xxxl;}

//PADDING-TOP standard classses for desktop //default 
.pt--0     { padding-top:$bs--0;}
.pt--xxxs  { padding-top:$bs--xxxs;}
.pt--xxs   { padding-top:$bs--xxs;}
.pt--xs    { padding-top:$bs--xs;}
.pt--s     { padding-top:$bs--s;}
.pt--m     { padding-top:$bs--m;}
.pt--l     { padding-top:$bs--l;}
.pt--xl    { padding-top:$bs--xl;}
.pt--xxl   { padding-top:$bs--xxl;}
.pt--xxxl  { padding-top:$bs--xxxl;}

//PADDING-BOTTOM standard classses for desktop //default 
.pb--0     { padding-bottom:$bs--0;}
.pb--xxxs  { padding-bottom:$bs--xxxs;}
.pb--xxs   { padding-bottom:$bs--xxs;}
.pb--xs    { padding-bottom:$bs--xs;}
.pb--s     { padding-bottom:$bs--s;}
.pb--m     { padding-bottom:$bs--m;}
.pb--l     { padding-bottom:$bs--l;}
.pb--xl    { padding-bottom:$bs--xl;}
.pb--xxl   { padding-bottom:$bs--xxl;}
.pb--xxxl  { padding-bottom:$bs--xxxl;}



.overflow-hidden {
    overflow: hidden;
}



/**
 * 5. Float an image to the left, with a clearfixed block of content to the right.
 * ----------------------------------------------------------------------------
 <div class='media'>
	<img src='/some/image.png' class='media__image'>
	<div class='media__body'>
       The text!
	</div>
 </div>
 */
.media {
	@extend .clearfix;
	margin-top: $base-spacing-unit;
}

	.media__image{
		float: left;
        margin-right:$base-spacing-unit;
	}

	.media__body{
		@extend .overflow-hidden;
	}	

.media--rev {
	@extend .clearfix;
	margin-top: $base-spacing-unit;
}

	.media--rev > .media__image{
		float: right;
        margin-left:$base-spacing-unit;
	}

	.media--rev > .media__body{
		@extend .overflow-hidden;
	}




/**
 * 6. Inline block grid
 * -----------------------------------------------------------------------------
 *
 * [1] Sets the child elements to take up full justified width of the parent
 * [2] Overcomes an issue where the :after element blows out the bottom.
 * [3] A fix for Internet Explorer 8/9
 * 
 */
.grid {
    text-align: justify;                /* [1] */
    font-size: 0;                       /* [2] */
    text-justify: distribute-all-lines; /* [3] */

    //not sure if we need the last night as it stuffs up text align:center
}

	.grid > *{
	    @extend .grid__item;
	}

    .grid__item {
        @extend .inline-block;
        //@extend %type__size_14;
        font-size:16px;
        text-align: left;
        vertical-align: top;
    }

    .grid:after,
    .grid__break {
        @extend .inline-block;
        content: '';
        height: 0;
        width:100%;
    }

/**
 * Vertical align these grid items in the middle!
 */
.grid--middle > .grid__item {
    vertical-align: middle;
}
    .g--1-1{
        width: 100%;
    }
    .g--1-2 {
        width: 50%;
    }
    .g--1-3 {
        width: 33%;
    }
    .g--1-4 {
        width: 25%;
    }
    .g--3-4 {
        width: 75%;
    }
    
    //percentages
    .g--60-100{
        width: 60%;
    }
    .g--40-100{
        width: 40%;
    }
    .g--80-100{
        width: 80%;
    }
    .g--20-100{
        width: 20%;
    }






/**
 * Append vs Prepend
 * ----------------------------------------------------------------------------
 */

/**
 * Place something before an element
 * ----------------------------------------------------------------------------
 */
.prepend{
    &:before{
        content: attr(data-prepend);
        display: inline-block;
    }
}

/**
 * Place something after an element
 * ----------------------------------------------------------------------------
 */
.append{
    &:after{
        content: attr(data-append);
        display: inline-block;
    }
}



/**
 * Arrows
 * ----------------------------------------------------------------------------
 * $base-spacing-unit: 1.4em
 *
 *
 * Apply the modifier classes to the parent. For instance, this will put an
 * arrow in the top left corner of the containing div:
 *
 * <div class='arrow__left'>
 *        <i class='arrow arrow_top'></i>
 * </div>
 *
 */

.arrow{/*i,span*/
    @extend %inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: .4em;
}

    .arrow-top{
        border-top-width: 0;
        border-bottom-color: inherit;
        top: -.4em;
    }

    .arrow-bottom{
        border-bottom-width: 0;
        border-top-color: inherit;
        bottom: -.4em;
    }

    .arrow-left{
        border-left-width: 0;
        border-right-color: inherit;
        left: -.4em;
    }

    .arrow-right{
        border-right-width: 0;
        border-left-color: inherit;
        right: -.4em;
    }

.arrow--left,
.arrow--right,
.arrow--side,
.arrow--center{/*div,block*/
    position:relative;
}

    .arrow--center .arrow{
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }

    .arrow--left .arrow{
        left: $base-spacing-unit;
    }

    .arrow--right .arrow{
        right: $base-spacing-unit;
    }

    .arrow--side .arrow{
        top: $base-spacing-unit;
    }

/**
 * Icon block 
 * ----------------------------------------------------------------------------
 */

.icon-text,
.icon-text--rev{/* a, div, etc */
    @extend %inline-block;
    display:inline-block; //CHECK why this isn't extending
}

    .i{
        overflow: hidden; /* for IE6 */
        vertical-align: middle;
        /* SMACSS line-height: 0; ? */
        .icon-text &,
        .btn--icon &{
            margin-right: $base-spacing-unit/3;
        }

        .icon-text--rev &,
        .btn--icon-rev &{
            margin-left: $base-spacing-unit/3;
        }
    }

//dummy icon for this tut :) 
.icon-placeholder {
    
    background-image:url("/assets/images/icon-placeholder.png");
    width:40px;
    height:40px;
    display:inline-block;
}
