/* 

shame!!!! just some dirty styles to get a basic style. i WILL refacter to get the project started :) 

*/
.content_wrapper,
.navigation--top {
    max-width:760px;
}
.content_wrapper {
    margin:80px auto 80px auto;


}
    .content {
        width: 100%;
        
    }
        .content--padding {
            padding:2em 3em;
        }

    .navigation--wrapper {
        position:fixed;
        top:0;
        width:100%;
        z-index: 5;
    }
        .navigation--top {
            margin:0 auto;

        }
            .navigation--top li a {
                color:#fff;
                text-decoration: none;
                text-shadow: 0 1px rgba(0, 0, 0, 0.3);
            }
                .navigation--top li a.active {
                    background-color: #2E2F2B;
                }
                .navigation--top li a:hover {
                    color:#E6DB74;
                }


.navigation--side {
    width:25%;
}
    .navigation--side li a, 
    .navigation--top li a  {
        display: block;
        text-decoration: none;  
    }

    .navigation--side li a {
        color:#4B4D43;
    }

        .navigation--side li a:hover {
            background-color: #4D4D4D;
            color:#E6DB74;
            box-shadow: none;
            
        }

.logo {
    display:inline-block;
    margin-top:12px;
    font-size:1.8em;
    a {
        color:#fff;
    }
    a:hover {
        color:#E6DB74;
        //span {
        //    color:#fff;
        //}
    }
    span {
        color:#E6DB74;
    }

}

.testbox {
    @include box-dimensions(150px, 150px);
    display:inline-block;
}

.testbox-100-100 {
    @include box-dimensions(100px, 100px);
}

.testbox-400-100 {
    @include box-dimensions(100px, 300px);  
}
.homepage {
    background-color:#4D4D4D;
    color:#fff;
}

@media all and (max-width: 800px) {

    /*dirty i know!*/
    .grid__item, .grid  {
        width:100%;
    }

    .navigation--side {
        display:none
    }
    .content--padding {
        padding:1.5em;
    }
}