/* 

shame!!!! just some dirty styles to get a basic style. i WILL refacter to get the project started :) 

*/

%center-element {
    margin-left:auto;
    margin-right:auto;
}

.content,
.navigation {
    @extend %center-element;
    max-width:760px;
    width: 100%;
}

    .content--padding {
        padding:2em 3em;
    }

.navigation--wrapper {
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
}

    .navigation a {
        color:#fff;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    }
        .navigation a.active {
            background-color: #2E2F2B;
        }
        .navigation a:hover {
            color:#E6DB74;
        }


.logo {
    display:inline-block;
  
    font-size:1.8em;
    a {
        color:#fff;
    }
    a:hover {
        color:#E6DB74;
        //span {
        //    color:#fff;
        //}
    }
    span {
        color:#E6DB74;
    }

}

//extract and make small medium and large
.br--s {
    border-radius:10px;
}


.testbox {
    @include box-dimensions(150px, 150px);
    display:inline-block;
}

.testbox-100-100 {
    @include box-dimensions(100px, 100px);
}

.testbox-400-100 {
    @include box-dimensions(100px, 300px);  
}
.homepage {
    background-color:#4D4D4D;
    color:#fff;
}

.fred {
    left:-138px; 
    top:0;
}

@media all and (max-width: 800px) {
    
    .content--padding {
        padding:1.5em;
    }
}