/**
 *
 * Typography defaults
 * -----------------------------------------------------------------------------
 *
 * Structure:
 *      1. Base typography styles
            a. Font families
 *      2. Heading styles
 *      3. Paragraph styles
 *      4. Typographic relationships
 *      5. hr
 *      6. Lower vs Uppercase
 *		7. Text allignment
 *		8. List styles
 *      9. text overflow helper class
 *      10. Fix webkit font rendering
 *      11. hide text
 *      12. Sans vs serif
 *
 * ----------------------------------------------------------------------------
 *
 */


/** 1. Base styles
 * ----------------------------------------------------------------------------
 *
 */

html,
body {
    @extend %fix-webkit-font-rendering;
    line-height:    $base-line-height;
    font-size:      100%;
}

body {
    //sets the media query elements to the html hence why we only declare it the body 
    @extend .font-primary;
}

/** a) Font families
 * ----------------------------------------------------------------------------
 *
 */
/* primary */

.font-primary {
    @include font($font-primary, 400 , normal);
}

    .font-primary--italic {
        @include font($font-primary, 400 , italic);
        .ie8 & {
            font-family:$font-primary-italic;
        }
    }

    .font-primary--bold {
        @include font($font-primary, 700 , normal);
        .ie8 & {
            font-family:$font-primary-bold;
        }
    }

    .font-primary--bold-italic {
        @include font($font-primary, 700 , italic);
        .ie8 & {
            font-family:$font-primary-bold-italic;
        }
    }


/* Secondary font family ..... etc*/

//.font-secondary {
//    @include font($font-secondary, 400 , normal);
//}

//    .font-secondary--italic {
//        @include font($font-secondary, 400 , italic);
//    }

//    .font-secondary--bold {
//        @include font($font-secondary, 700 , normal);
//    }

//    .font-secondary--bold-italic {
//        @include font($font-secondary, 700 , italic);
//    }



/** 2. Header styles
 * ----------------------------------------------------------------------------
 * NOTE: These can change per project depending on what font etc you use :) 
 *
 */

.h0 {
    @extend .font-size-xxxxl;
}

h1, 
.h1 {
    @extend .mb--0;
    @extend .font-size-xxxl;                   
    line-height: $line-height-xxxl;
    margin-top: px-to-em($bs--m, $font-size-xxxl);              
}

h2, 
.h2 {
    @extend .mb--0;
    @extend .font-size-xxl;                    
    line-height: $line-height-xxl;
    margin-top: px-to-em($bs--m, $font-size-xxl);                  
}

h3, 
.h3 {
    @extend .mb--0;
    @extend .font-size-xl;
    line-height: $line-height-xl;
    margin-top: px-to-em($bs--m, $font-size-xl);
}

h4, 
.h4 {
    @extend .mb--0;
    @extend .font-size-m;
    line-height: $line-height-m;
    margin-top: px-to-em($bs--m, $font-size-m);
}

h5, 
.h5 {
    @extend .mb--0;
    @extend .font-size-s;
    line-height: $line-height-s;
    margin-top: px-to-em($bs--xs, $font-size-s);
}

h6, 
.h6 {
    @extend .mb--0;
    @extend .font-size-xs;
    line-height: $line-height-xs;
    margin-top: px-to-em($bs--xs, $font-size-xs);
}


/**
 *  
 * ----------------------------------------------------------------------------
 */

p, 
.text, 
li,code {
    @extend .mb--0;
    @extend .font-size-xs;
    line-height: $line-height-xs; 
    margin-top: px-to-em($bs--xs, $font-size-xs);              
}

strong, 
b {
    .ie8 & {
        @extend .font-primary--bold;
    }
}

em, 
i {
    .ie8 & {
        @extend .font-primary--italic;
    }
}


/**
 *  3. Paragraph styles
 * ----------------------------------------------------------------------------
 */


.intro { 
    @extend .font-size-s;                    
}

.small { 
    @extend .font-size-xxs;                     
}

.tiny {
    @extend .font-size-xxxs;                      
}


/**
 * 4. Typographic relationships (nawww, aren't they so good together?)
 * ----------------------------------------------------------------------------
 */

h4 + h6,
h4 + p,
h5 + p {
    margin-top: px-to-em($bs--xxs, $font-size-xs);               
}

p + p, 
.list--styled li + li, 
.list--styled-decimal li + li, 
.list--styled-alpha li + li,{
    margin-top: px-to-em($bs--xxs, $font-size-xs);                           
}


/**
 * 5. hr
 * ----------------------------------------------------------------------------
 */

 hr {
    border: none;
    height: 1px;
 }


/**
 *  6. Lowercase vs Uppercase
 * ----------------------------------------------------------------------------
 */

.uppercase {
    text-transform:uppercase;
}
.lowercase {
    text-transform:lowercase;
}


/**
 * 7. Text Allignment classes
 * ----------------------------------------------------------------------------
 */

.text-align--left  { 
    text-align: left;
}
.text-align--right { 
    text-align: right;
}
.text-align--center  {
    text-align: center;
}


/**
 * 8. List styles
 * ----------------------------------------------------------------------------
 */

.list--unstyled {
	list-style: none;
	padding-left: 0;
	margin: 0 0 0 0;
}

	.list--unstyled > li {
        list-style: none;
        margin-left: 0;
    }

.list--inline {
	@extend .clearfix;
    @extend .list--unstyled;  
}

	.list--inline > li {
		@extend .inline-block;
        margin: 0;
	}

//default list style in this case its circles
%list--styled {
    padding-left:$bs--m;
    margin-top: .857142857em; //same as the margin top on p tags
    list-style: circle;
}

.list--styled {
    @extend %list--styled;
}

//decimal list
.list--styled-decimal {
    @extend %list--styled;
    list-style: decimal-leading-zero;
    padding-left:$bs--l;
} 

//alpha list
.list--styled-alpha {
    @extend %list--styled;
    list-style: lower-alpha;
}


/**
 * 9. text overflow helper class
 * ----------------------------------------------------------------------------
 */
.text--overflow {
    @extend .inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.text--nowrap {
    white-space: nowrap;
}

/**
 * 10. Fix webkit bug
 * ----------------------------------------------------------------------------
 *
 * Since v22, Chrome makes fat sausage horrible web typography. Fix it with 
 * these properties right here. Maybe consider scoping this to a class for
 * chrome/mac osx only at some point?
 */

%fix-webkit-font-rendering {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/**
 * 11. hide text
 * ----------------------------------------------------------------------------
 */
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}


/**
 * 12. Sans vs serif
 * ----------------------------------------------------------------------------
 *
 * 
 */

.sans {
    font-family:$sans-serif-stack;
}

.serif {
    font-family:$serif-stack;
}

//add dt and dd 
