/**
 *
 * Typography defaults
 * -----------------------------------------------------------------------------
 *
 * Structure:
 *      1. Base typography styles
 *      2. Heading styles
 *      3. Paragraph styles
 *      4. Typographic relationships
        5. hr
 *      6. Lower vs Uppercase
 *		7. Text allignment
 *		8. List styles
 *      9. text overflow helper class
        10. Fix webkit font rendering
        11. hide text
 *
 * ----------------------------------------------------------------------------
 *
 */


/** 1. Base styles
 * ----------------------------------------------------------------------------
 *
 */

html,
body {
    color:          $base-font-color;
    font-family:    $sansSerifStack;
    line-height:    $base-line-height;
    font-size: 100%; // leave this as the natural browser size
    /* see point 9 */
    @extend %fix-webkit-font-rendering;
}

a {
    color:          $base-link-color;
    &:hover {
        color:          $base-link-hover-color;
    }
}


/** 2. Header styles
 * ----------------------------------------------------------------------------
 * NOTE: These can change per project depending on what font etc you use :) 
 *
 */

.h0 {
    @extend %type__size_72;
}

h1, .h1 {
    @extend .m0--b;
    @extend %type__size_36;                   
    line-height: 1;
    //The top margin is 24 which relates to the font size of 36 
    //if you change the font size you need to change the number below (36)
    //this is the same for all the top margins below
    margin-top: px-to-em(24, 36);              
}

h2, .h2 {
    @extend .m0--b;
    @extend %type__size_32;                    
    line-height: 1.2;
    margin-top: px-to-em(24, 32);                  
}

h3, .h3 {
    @extend .m0--b;
    @extend %type__size_22;
    line-height: 1.2;
    margin-top: px-to-em(24, 22);
}

h4, .h4 {
    @extend .m0--b;
    @extend %type__size_18;
    line-height: 1.33333333;
    margin-top: px-to-em(20, 18);
}

h5, .h5 {
    @extend .m0--b;
    @extend %type__size_16;
    line-height: 1.2;
    margin-top: px-to-em(12, 16);
}

h6, .h6 {
    @extend .m0--b;
    @extend %type__size_14;
    line-height: 1.2;
    margin-top: px-to-em(12, 14);
}


/**
 *  3. Paragraph styles
 * ----------------------------------------------------------------------------
 */

p, .para, ul {
    @extend .m0--b;
    @extend %type__size_14;
    //reminder line height is relative to the font size declared above
    line-height: px-to-em(21, 14); 
    margin-top: px-to-em(12, 14);              
}

.intro { 
    @extend %type__size_16;                    
}

.small { 
    @extend %type__size_12;                     
}

.tiny {
    @extend %type__size_11;                      
}


/**
 * 4. Typographic relationships (nawww, aren't they so good together?)
 * ----------------------------------------------------------------------------
 */

h4 + h6,
h4 + p,
h5 + p {
    margin-top: .285714286em;               /* 4px @ 14px */
}

p + p, 
ul.list--styled li + li {
    margin-top: .571428571em;               /* 8px @ 14px */               
}

/**
 * 5. hr
 * ----------------------------------------------------------------------------
 */

 hr {
    background-color: $hr-colour;
    border: none;
    color: $hr-colour;
    height: 1px;
 }


/**
 *  6. Lowercase vs Uppercase
 * ----------------------------------------------------------------------------
 */
.uppercase {
    text-transform:uppercase;
}
.lowercase {
    text-transform:lowercase;
}


/**
 * 7. Text Allignment classes
 * ----------------------------------------------------------------------------
 */

.text_align--left  { 
    text-align: left;
}
.text_align--right { 
    text-align: right;
}
.text_align--center  {
    text-align: center;
}



/**
 * 8. List styles
 * ----------------------------------------------------------------------------
 */

.list--unstyled {
	list-style: none;
	padding-left: 0;
	margin: 0 0 0 0;
}

	.list--unstyled > li {
        list-style: none;
        margin-left: 0;
    }

.list--inline {
	@extend .clearfix;
    @extend .list--unstyled;
}

	.list--inline > li {
		@extend .inline-block;
	}

//default list style in this case its circles
%list--styled {
    padding-left:$m;
    margin-top: .857142857em; //same as the margin top on p tags
    list-style: circle;
    //or custom image here
    //list-style-image: url('');
}
.list--styled {
    @extend %list--styled;
}

//decimal list
.list--styled_decimal {
    @extend %list--styled;
    list-style: decimal-leading-zero;
    padding-left:$mx;
} 
//alpha list
.list--styled_alpha {
    @extend %list--styled;
    list-style: lower-alpha;
}


/**
 * 9. text overflow helper class
 * ----------------------------------------------------------------------------
 */
 .text--overflow {
    @extend .inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.text--nowrap {
    white-space: nowrap;
}

/**
 * 10. Fix webkit bug
 * ----------------------------------------------------------------------------
 *
 * Since v22, Chrome makes fat sausage horrible web typography. Fix it with 
 * these properties right here. Maybe consider scoping this to a class for
 * chrome/mac osx only at some point?
 */

%fix-webkit-font-rendering {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/**
 * 11. hide text
 * ----------------------------------------------------------------------------
 */
.visually_hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}