/**
 *
 * Typography defaults
 * -----------------------------------------------------------------------------
 *
 * Structure:
 *      1. Base typography styles
 *      1. Heading styles
 *		2. Sub Heading styles
 *      3. Paragraph styles
 *      4. Typographic relationships
 *      5. Sans vs sans serif
 *      6. Lower vs Uppercase
 *		7. Text allignments
 *		8. List styles
 *      9. Fix webkit font rendering
        10. hr
 *
 * ----------------------------------------------------------------------------
 *
 */


/** Base styles
 * ----------------------------------------------------------------------------
 *
 */

html,
body {
    color:          $base-font-color;
    font-family:    $sansSerifStack;
    line-height:    $base-line-height;
    /* see point 9 */
    @extend %fix-webkit-font-rendering;
}

a {
    color:          $base-link-color;
    &:hover {
        color:          $base-link-hover-color;
    }
}


/** 1. Header styles
 * ----------------------------------------------------------------------------
 * NOTE: These can change per project depending on what font etc you use :) 
 *
 */
.h0 {
    font-size: 5em;                         /* 72px */
}

h1, .h1 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 2.25em;                      /* 36px */
    line-height: 1;                         /* 36px */
    margin-top: .666666667em;               /* 24px */
}

h2, .h2 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1.875em;                     /* 30px */
    line-height: 1.2;
    margin-top: .8em;                       /* 24px */
}

h3, .h3 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1.375em;                     /* 22px */
    line-height: 1.2;
    margin-top: 1.090909091em;              /* 24px */
}

h4, .h4 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1.125em;                     /* 18px */         
    line-height: 1.33333333;                /* 24px */
    margin-top: 1.11111111em;               /* 20px */
}

h5, .h5 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1em;                         /* 16px */
    line-height: 1.2;
    margin-top: .75em;                      /* 12px */
}

h6, .h6 {
    @extend .m0--b;
    //font-family:$sansSerifStack;
    font-size: .875em;                      /* 14px */
    line-height: 1.2;
    margin-top: .857142857em;               /* 12px */
}







/**
 *  3. Paragraph styles
 * ----------------------------------------------------------------------------
 */

p, .para {
    @extend .m0--b;
    //font-size: .875em;                      /* 14px */
    line-height: 1.785714286em;             /* 25px */
    margin-top: .857142857em;               /* 12px */
}

.medium{
    font-size: .875em;                      /* 14px */
}

.intro { 
    font-size: 1.125em;                     /* 18px */
}

.small { 
    font-size: .8125em;                     /* 14px */
}

.tiny {
    font-size: .75em;                       /* 12px */
}


/**
 * 4. Typographic relationships (nawww, aren't they so good together?)
 * ----------------------------------------------------------------------------
 */

h4 + h6,
h4 + p,
h5 + p {
    margin-top: .285714286em;               /* 4px @ 14px */
}

p + p, 
ul.list--styled li + li {
    margin-top: .571428571em;               /* 8px @ 14px */               
}



/** 5. Sans/serif text
 * ----------------------------------------------------------------------------
 *
 */


.sans {
    font-family: $sansSerifStack;
}

.serif {
    font-family: $serifStack;
}




/**
 *  6. Lowercase vs Uppercase
 * ----------------------------------------------------------------------------
 */
.uppercase {
    text-transform:uppercase;
}
.lowercase {
    text-transform:lowercase;
}




/**
 * 7. Text Allignment classes
 * ----------------------------------------------------------------------------

    <p class="text_align--left">Left aligned text.</p>
    <p class="text_align--center">Center aligned text.</p>
    <p class="text_align--right">Right aligned text.</p>

 */

.text_align--left  { 
    text-align: left;
}
.text_align--right { 
    text-align: right;
}
.text_align--center  {
    text-align: center;
}



/**
 * 8. List styles
 * ----------------------------------------------------------------------------
 */

.list--unstyled {
	list-style: none;
	padding-left: 0;
	margin: 0 0 0 0;
}

	.list--unstyled > li {
        list-style: none;
        margin-left: 0;
    }

.list--inline {
	@extend .clearfix;
    @extend .list--unstyled;
}

	.list--inline > li {
		@extend .inline-block;
	}

.list--styled {
    padding-left:$m;
    margin-top: .857142857em; //same as the margin top on p tags
    list-style: circle;
    //or custom image here
    //list-style-image: url('');
}



/**
 * 10. hr
 * ----------------------------------------------------------------------------
 */

 hr {
    background-color: $hr-colour;
    border: none;
    color: $hr-colour;
    height: 1px;
 }

/**
 * 10. text overflow helper class
 * ----------------------------------------------------------------------------
 */
 .text--overflow {
    @extend .inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.text--nowrap {
    white-space: nowrap;
}