/**
 *
 * SASS Variables 
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *		
 *      1. Typography - Font familys 
 *		2. Typography - Line height
 *      3. Typography - Font sizes 
 *      4. Layout - Spacing
 *      5. TODO
 *      6. 
 *      7.
 *      8.
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */

@function px-to-em($size, $context: 16) {
    @return #{($size / $context)}em;
}

/**
 * Typography - Font familys 
 * -----------------------------------------------------------------------------
 */

$sans-serif-stack:              "Helvetica Neue",Helvetica,Arial,sans-serif ;
$serif-stack:                   "georgia", serif;

$font-family:                   $sans-serif-stack; //primary
//$font-family-secondary:;      
//$font-family-tertiary:;          


/**
 * Typography - Line height
 * -----------------------------------------------------------------------------
 */

$base-line-height:              1.428571429; // 20/14


/**
 * Typography - Font sizes 
 * -----------------------------------------------------------------------------
 */

$font-size-xxxxl:               72;     //h0
$font-size-xxxl:                36;     //h1
$font-size-xxl:                 32;     //h2
$font-size-xl:                  22;     //h3
$font-size-l:                   20;     //h4
$font-size-m:                   18;     //h5
$font-size-s:                   16;     //h6 & .intro
$font-size-xs:                  14;     //p
$font-size-xxs:                 12;     //.small
$font-size-xxxs:                11;     //.tiny

.font-size-xxxxl                { font-size: px-to-em($font-size-xxxxl);}
.font-size-xxxl                 { font-size: px-to-em($font-size-xxxl);}
.font-size-xxl                  { font-size: px-to-em($font-size-xxl);}
.font-size-xl                   { font-size: px-to-em($font-size-xl);}
.font-size-l                    { font-size: px-to-em($font-size-l);}
.font-size-m                    { font-size: px-to-em($font-size-m);}
.font-size-s                    { font-size: px-to-em($font-size-s);}
.font-size-xs                   { font-size: px-to-em($font-size-xs);}
.font-size-xxs                  { font-size: px-to-em($font-size-xxs);}
.font-size-xxxs                 { font-size: px-to-em($font-size-xxxs);}


/**
 * Layout - Spacing: she's a fickle mistress.
 * -----------------------------------------------------------------------------
 */

$base-spacing-unit:             1.5em; // 24px

$xxxm :                         0.1em;
$xxm :                          $base-spacing-unit / 3;     // 8px
$xm :                           $base-spacing-unit / 1.5;   // 16px
$m :                            $base-spacing-unit;         // 24px
$mx :                           $base-spacing-unit * 1.5;   // 36px
$mxx :                          $base-spacing-unit * 2;     // 48px
$mxxx :                         $base-spacing-unit * 3;     // 72px

.m0     	                    { margin-top: 0; }
.m0--b 		                    { margin-bottom: 0; }
.xxxm                           { margin-top: $xxxm; }
.xxm                            { margin-top: $xxm; }
.xm                             { margin-top: $xm; }
.m                              { margin-top: $m; }
.mx                             { margin-top: $mx; }
.mxx                            { margin-top: $mxx; }
.mxxx                           { margin-top: $mxxx; }

.xxm--b                         { margin-bottom: $xxm; }
.xm--b                          { margin-bottom: $xm; }
.m--b                           { margin-bottom: $m; }
.mx--b                          { margin-bottom: $mx; }
.mxx--b                         { margin-bottom: $mxx; }

.p0                             { padding-top: 0 !important; }
.p0--b                          { padding-bottom: 0 !important; }
.xxp 		                    { padding-top: $xxm; }
.xp 		                    { padding-top: $xm; }
.p 			                    { padding-top: $m; }
.px 		                    { padding-top: $mx; }
.pxx 		                    { padding-top: $mxx; }



/**
 * Colours /Themes
 * -----------------------------------------------------------------------------
 */

// Base colors
// -------------------------

$bg-color:                      #4D4D4D;
$base-font-color:               #2E2F2B;
$hr-colour:                     #e5e5e5;

// Link colors
// -------------------------

$base-link-color:               #2F72BA;
$base-link-hover-color:         darken($base-link-color, 15%);


// ...
// -------------------------
$sub-header:                    #999;


// Text emphasis colours
// -------------------------

$text-success:                  #468847;
$text-warning:                  #c09853;
$text-danger:                   #b94a48;

$text-muted:                    #999;


// Grays
// -------------------------

$gray-darker:                   lighten(#000, 13.5%); // #222
$gray-dark:                     lighten(#000, 20%);   // #333
$gray:                          lighten(#000, 33.5%); // #555
$gray-light:                    lighten(#000, 60%);   // #999
$gray-lighter:                  lighten(#000, 93.5%); // #eee



// Block theme colours - warning
// -------------------------------

$success-block-bg:              #C5FFC6;
$success-block-text:            #468847;
$success-block-border:          $success-block-text;

$warning-block-bg:              #FFFFD2;
$warning-block-text:            #DAB26D;
$warning-block-border:          $warning-block-text;

$danger-block-bg:               #FFC9C7;
$danger-block-text:             #B94A48;
$danger-block-border:           $danger-block-text;


// Block theme colours - primary, secondary, tertiary
// -------------------------------


$primary-bg-color:			    #fff;
$primary-txt-color:			    $base-font-color; 
$primary-border-color:		    $primary-bg-color;

$secondary-bg-color:		    #f2f2f2;
$secondary-txt-color:		    $base-font-color ; 
$secondary-border-color:	    #E6E6E6;

$tertiary-bg-color:			    #2E2F2B;
$tertiary-txt-color:		    #fff; 
$tertiary-border-color:		    $tertiary-bg-color;

$quarternary-bg-color:		    #4D4D4D;
$quarternary-txt-color:		    #fff; 
$quarternary-border-color:	    $quarternary-bg-color;



// Block theme colours - other block theme colours
// -------------------------------

//green theme box
$green-bg-color:			    #A6E22E;
$green-txt-color:			    $base-font-color; 
$green-border-color:		    $green-bg-color;

//pink theme box
$pink-bg-color:				    #F92672;
$pink-txt-color:			    $base-font-color ; 
$pink-border-color:			    $pink-bg-color;

//blue theme box
$blue-bg-color:				    #4AA1C5;
$blue-txt-color:			    #fff; 
$blue-border-color:			    $blue-bg-color;



/**
 * 4. Button themes
 * -----------------------------------------------------------------------------
 */

//default active states

$active-btn-bg:				    #333;
$active-btn-text:			    #fff;

// main theme blocks
$primary-btn-bg: 			    #3CBE8A;
$primary-btn-txt:			    #fff;
$primary-btn-border:		    $primary-btn-bg;
$primary-btn-hover-bg:		    darken(#3CBE8A, 7%);
$primary-btn-hover-txt:	        #fff;

$secondary-btn-bg: 			    #999;
$secondary-btn-txt:			    #fff;
$secondary-btn-border:		    $primary-btn-bg;
$secondary-btn-hover-bg:	    #777;
$secondary-btn-hover-txt: 	    #fff;

$tertiary-btn-bg: 			    #ddd;
$tertiary-btn-txt:			    #fff;
$tertiary-btn-border:		    #444;
$tertiary-btn-hover-bg:		    #ccc;
$tertiary-btn-hover-txt:	    #333;


// theme blocks positive negative.. ??
$positive-btn-bg: 			   #3977B1;
$positive-btn-txt:			   #fff;
$positive-btn-border:		   $primary-btn-bg;
$positive-btn-hover-bg:		   darken(#3977B1, 7%);
$positive-btn-hover-txt: 	   $secondary-btn-txt;

$negative-btn-bg: 			   #eb3930;
$negative-btn-txt:			   #fff;
$negative-btn-border:		   #444;
$negative-btn-hover-bg:		   #d8281f;
$negative-btn-hover-txt:	   $negative-btn-txt;


// Breadcrumbs
// -------------------------

$breadcrumb-active-txt:		   #555;
$breadcrumb-txt:			   #666;
$breadcrumb-bg:				   #ccc;


// Badges
// -------------------------

$badge-txt:					   #fff;
$badge-bg:					   red;
$badge-radius:				   10px;

$badge-active-txt:			   #efefef;
$badge-active-bg:			   blue;


// Page header
// -------------------------

$pg-header-border:			   #E6E6E6;
$pg-header-txt:				   #343434;
$pg-header-span-txt:		   slategray;


// Tables
// -------------------------

$table-cell-padding:                 8px;
$table-condensed-cell-padding:       5px;

$table-bg:                           transparent; // overall background-color
$table-bg-accent:                    #f9f9f9; // for striping
$table-bg-hover:                     #f5f5f5;
$table-bg-active:                    $table-bg-hover;

$table-border-color:                 #ddd; // table and cell border




// Media queries breakpoints
// --------------------------------------------------

$screen-mobile:                  30em;  //480px

$screen-skinny:                  48em;//768px

$screen-desktop:                  60em; //960px

$screen-wide:                  75em; //1200px

/* So media queries don't overlap when required, provide a maximum */

$screen-mobile-max:              ($screen-skinny - 1);

$screen-skinny-max:              ($screen-desktop - 1);

$screen-desktop-max:              ($screen-wide - 1);


// Form states and alerts
// -------------------------

$state-warning-text:             #c09853;
$state-warning-bg:               #fcf8e3;
//$state-warning-border:           darken(spin($state-warning-bg, -10), 3%);

$state-danger-text:              #b94a48;
$state-danger-bg:                #f2dede;
//$state-danger-border:            darken(spin($state-danger-bg, -10), 3%);

$state-success-text:             #468847;
$state-success-bg:               #dff0d8;
//$state-success-border:           darken(spin($state-success-bg, -10), 5%);

$state-info-text:                #3a87ad;
$state-info-bg:                  #d9edf7;
//$state-info-border:              darken(spin($state-info-bg, -10), 7%);



// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-skinny;

$container-wide:            1120px;
$container-desktop:         960px;

