/**
 *
 * SASS Variables 
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *		
 *      1. Typography - Font familys 
 *		2. Typography - Line height
 *      3. Typography - Font sizes 
 *      4. Layout - Spacing
 *      5. TODO
 *      6. 
 *      7.
 *      8.
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */

@function px-to-em($size, $context: 16) {
    @return #{($size / $context)}em;
}

/**
 * Typography - Font familys 
 * -----------------------------------------------------------------------------
 */

$sans-serif-stack:              "Helvetica Neue",Helvetica,Arial,sans-serif ;
$serif-stack:                   "georgia", serif;

$font-family:                   $sans-serif-stack; //primary
//$font-family-secondary:;      
//$font-family-tertiary:;          


/**
 * Typography - Line height
 * -----------------------------------------------------------------------------
 */

$base-line-height:              1.428571429; // 20/14


/**
 * Typography - Font sizes 
 * -----------------------------------------------------------------------------
 */

$font-size-xxxxl:               72;     //h0
$font-size-xxxl:                36;     //h1
$font-size-xxl:                 32;     //h2
$font-size-xl:                  22;     //h3
$font-size-l:                   20;     //h4
$font-size-m:                   18;     //h5
$font-size-s:                   16;     //h6 & .intro
$font-size-xs:                  14;     //p
$font-size-xxs:                 12;     //.small
$font-size-xxxs:                11;     //.tiny

.font-size-xxxxl                { font-size: px-to-em($font-size-xxxxl);}
.font-size-xxxl                 { font-size: px-to-em($font-size-xxxl);}
.font-size-xxl                  { font-size: px-to-em($font-size-xxl);}
.font-size-xl                   { font-size: px-to-em($font-size-xl);}
.font-size-l                    { font-size: px-to-em($font-size-l);}
.font-size-m                    { font-size: px-to-em($font-size-m);}
.font-size-s                    { font-size: px-to-em($font-size-s);}
.font-size-xs                   { font-size: px-to-em($font-size-xs);}
.font-size-xxs                  { font-size: px-to-em($font-size-xxs);}
.font-size-xxxs                 { font-size: px-to-em($font-size-xxxs);}



/**
 * Layout - Spacing: she's a fickle mistress.
 * -----------------------------------------------------------------------------
 */

$base-spacing-unit:             1.5em; // 24px

$bs--0:                         0em;
$bs--xxs:                       0.25em;
$bs--xs:                        $base-spacing-unit / 3;     // 8px
$bs--s:                         $base-spacing-unit / 1.5;   // 16px
$bs--m:                         $base-spacing-unit;         // 24px
$bs--l:                         $base-spacing-unit * 1.5;   // 36px
$bs--xl:                        $base-spacing-unit * 2;     // 48px
$bs--xxl:                       $base-spacing-unit * 3;     // 72px


//MARGIN-RIGHT standard classses for desktop //default  
.mr--0     { margin-right:$bs--0; }
.mr--xxs   { margin-right:$bs--xxs; }
.mr--xs    { margin-right:$bs--xs;}
.mr--s     { margin-right:$bs--s;}
.mr--m     { margin-right:$bs--m;}
.mr--l     { margin-right:$bs--l;}
.mr--xl    { margin-right:$bs--xl;}
.mr--xxl   { margin-right:$bs--xxl;}

//MARGIN-LEFT standard classses for desktop //default  
.ml--0     { margin-left:$bs--0; }
.ml--xxs   { margin-left:$bs--xxs; }
.ml--xs    { margin-left:$bs--xs;}
.ml--s     { margin-left:$bs--s;}
.ml--m     { margin-left:$bs--m;}
.ml--l     { margin-left:$bs--l;}
.ml--xl    { margin-left:$bs--xl;}
.ml--xxl   { margin-left:$bs--xxl;}

//MARGIN-TOP standard classses for desktop //default  
.mt--0     { margin-top:$bs--0; }
.mt--xxs   { margin-top:$bs--xxs; }
.mt--xs    { margin-top:$bs--xs;}
.mt--s     { margin-top:$bs--s;}
.mt--m     { margin-top:$bs--m;}
.mt--l     { margin-top:$bs--l;}
.mt--xl    { margin-top:$bs--xl;}
.mt--xxl   { margin-top:$bs--xxl;}

//MARGIN-BOTTOM standard classses for desktop //default  
.mb--0     { margin-bottom:$bs--0; }
.mb--xxs   { margin-bottom:$bs--xxs; }
.mb--xs    { margin-bottom:$bs--xs;}
.mb--s     { margin-bottom:$bs--s;}
.mb--m     { margin-bottom:$bs--m;}
.mb--l     { margin-bottom:$bs--l;}
.mb--xl    { margin-bottom:$bs--xl;}
.mb--xxl   { margin-bottom:$bs--xxl;}


//PADDING-RIGHT standard classses for desktop //default  
.pr--0     { padding-right:$bs--0; }
.pr--xxs   { padding-right:$bs--xxs; }
.pr--xs    { padding-right:$bs--xs;}
.pr--s     { padding-right:$bs--s;}
.pr--m     { padding-right:$bs--m;}
.pr--l     { padding-right:$bs--l;}
.pr--xl    { padding-right:$bs--xl;}
.pr--xxl   { padding-right:$bs--xxl;}

//PADDING-LEFT standard classses for desktop //default 
.pl--0     { padding-left:$bs--0; }
.pl--xxs   { padding-left:$bs--xxs; }
.pl--xs    { padding-left:$bs--xs;}
.pl--s     { padding-left:$bs--s;}
.pl--m     { padding-left:$bs--m;}
.pl--l     { padding-left:$bs--l;}
.pl--xl    { padding-left:$bs--xl;}
.pl--xxl   { padding-left:$bs--xxl;}

//PADDING-TOP standard classses for desktop //default 
.pt--0     { padding-top:$bs--0; }
.pt--xxs   { padding-top:$bs--xxs; }
.pt--xs    { padding-top:$bs--xs;}
.pt--s     { padding-top:$bs--s;}
.pt--m     { padding-top:$bs--m;}
.pt--l     { padding-top:$bs--l;}
.pt--xl    { padding-top:$bs--xl;}
.pt--xxl   { padding-top:$bs--xxl;}

//PADDING-BOTTOM standard classses for desktop //default 
.pb--0     { padding-bottom:$bs--0; }
.pb--xxs   { padding-bottom:$bs--xxs; }
.pb--xs    { padding-bottom:$bs--xs;}
.pb--s     { padding-bottom:$bs--s;}
.pb--m     { padding-bottom:$bs--m;}
.pb--l     { padding-bottom:$bs--l;}
.pb--xl    { padding-bottom:$bs--xl;}
.pb--xxl   { padding-bottom:$bs--xxl;}


/**
 * Colours /Themes
 * -----------------------------------------------------------------------------
 */

// Base colors
// -------------------------

$bg-color:                      #4D4D4D;
$base-font-color:               #2E2F2B;
$hr-colour:                     #e5e5e5;

// Link colors
// -------------------------

$base-link-color:               #2F72BA;
$base-link-hover-color:         darken($base-link-color, 15%);

$list-block-color:              #ccc;
// ...
// -------------------------
$sub-header:                    #999;


// Text emphasis colours
// -------------------------

$text-success:                  #468847;
$text-warning:                  #c09853;
$text-danger:                   #b94a48;

$text-muted:                    #999;


// Grays
// -------------------------

$gray-darker:                   lighten(#000, 13.5%); // #222
$gray-dark:                     lighten(#000, 20%);   // #333
$gray:                          lighten(#000, 33.5%); // #555
$gray-light:                    lighten(#000, 60%);   // #999
$gray-lighter:                  lighten(#000, 93.5%); // #eee



// Block theme colours - warning
// -------------------------------

$success-bg-color:              #C5FFC6;
$success-txt-color:             #468847;
$success-border-color:          $success-txt-color;

$warning-bg-color:              #FFFFD2;
$warning-txt-color:             #DAB26D;
$warning-border-color:          $warning-txt-color;

$danger-bg-color:               #FFC9C7;
$danger-txt-color:              #B94A48;
$danger-border-color:           $danger-txt-color;


// Block theme colours - primary, secondary, tertiary
// -------------------------------


$primary-bg-color:			    #fff;
$primary-txt-color:			    $base-font-color; 
$primary-border-color:		    $primary-bg-color;

$secondary-bg-color:		    #f2f2f2;
$secondary-txt-color:		    $base-font-color ; 
$secondary-border-color:	    #E6E6E6;

$tertiary-bg-color:			    #2E2F2B;
$tertiary-txt-color:		    #fff; 
$tertiary-border-color:		    $tertiary-bg-color;

$quarternary-bg-color:		    #4D4D4D;
$quarternary-txt-color:		    #fff; 
$quarternary-border-color:	    $quarternary-bg-color;



// Block theme colours - other block theme colours
// -------------------------------

//green theme box
$green-bg-color:			    #A6E22E;
$green-txt-color:			    $base-font-color; 
$green-border-color:		    $green-bg-color;

//pink theme box
$pink-bg-color:				    #F92672;
$pink-txt-color:			    $base-font-color ; 
$pink-border-color:			    $pink-bg-color;

//blue theme box
$blue-bg-color:				    #4AA1C5;
$blue-txt-color:			    #fff; 
$blue-border-color:			    $blue-bg-color;



/**
 * 4. Button themes
 * -----------------------------------------------------------------------------
 */

//default active states

$active-btn-bg:				    #333;
$active-btn-text:			    #fff;

// main theme blocks
$primary-btn-bg: 			    #3CBE8A;
$primary-btn-txt:			    #fff;
$primary-btn-border:		    $primary-btn-bg;
$primary-btn-hover-bg:		    darken(#3CBE8A, 7%);
$primary-btn-hover-txt:	        #fff;

$secondary-btn-bg: 			    #999;
$secondary-btn-txt:			    #fff;
$secondary-btn-border:		    $primary-btn-bg;
$secondary-btn-hover-bg:	    #777;
$secondary-btn-hover-txt: 	    #fff;

$tertiary-btn-bg: 			    #ddd;
$tertiary-btn-txt:			    #fff;
$tertiary-btn-border:		    #444;
$tertiary-btn-hover-bg:		    #ccc;
$tertiary-btn-hover-txt:	    #333;


// theme blocks positive negative.. ??
$positive-btn-bg: 			   #3977B1;
$positive-btn-txt:			   #fff;
$positive-btn-border:		   $primary-btn-bg;
$positive-btn-hover-bg:		   darken(#3977B1, 7%);
$positive-btn-hover-txt: 	   $secondary-btn-txt;

$negative-btn-bg: 			   #eb3930;
$negative-btn-txt:			   #fff;
$negative-btn-border:		   #444;
$negative-btn-hover-bg:		   #d8281f;
$negative-btn-hover-txt:	   $negative-btn-txt;


// Breadcrumbs
// -------------------------

$breadcrumb-active-txt:		   #555;
$breadcrumb-txt:			   #666;
$breadcrumb-bg:				   #ccc;


// Badges
// -------------------------

$badge-txt:					   #fff;
$badge-bg:					   red;
$badge-radius:				   10px;

$badge-active-txt:			   #efefef;
$badge-active-bg:			   blue;


// Page header
// -------------------------

$pg-header-border:			   #E6E6E6;
$pg-header-txt:				   #343434;
$pg-header-span-txt:		   slategray;


// Tables
// -------------------------

$table-cell-padding:                 8px;
$table-condensed-cell-padding:       5px;

$table-bg:                           transparent; // overall background-color
$table-bg-accent:                    #f9f9f9; // for striping
$table-bg-hover:                     #f5f5f5;
$table-bg-active:                    $table-bg-hover;

$table-border-color:                 #ddd; // table and cell border




// Media queries breakpoints
// --------------------------------------------------


//$col-xxxs:                        Smart watch, google class, fridge, etc
$col-xxs:                           17.5em;//shitdroid mobile 280px 
$col-xs:                            30em;//Portrait regular mobiles//480px
//$col-s:                           ;Large Mobile, landscape mobile
$col-m:                             48em;//Skinny 768px
$col-l:                             60em;//Desktop 960px 
$col-xl:                            75em;//Wide 1200px
//$col-xxl:                         ;TV 1080p


/* So media queries don't overlap when required, provide a maximum */

$col-xs-max:              ($col-m - 1);

$col-m-max:              ($col-l - 1);

$col-l-max:              ($col-xl - 1);



// Form states and alerts
// -------------------------

$state-warning-text:             #c09853;
$state-warning-bg:               #fcf8e3;
//$state-warning-border:           darken(spin($state-warning-bg, -10), 3%);

$state-danger-text:              #b94a48;
$state-danger-bg:                #f2dede;
//$state-danger-border:            darken(spin($state-danger-bg, -10), 3%);

$state-success-text:             #468847;
$state-success-bg:               #dff0d8;
//$state-success-border:           darken(spin($state-success-bg, -10), 5%);

$state-info-text:                #3a87ad;
$state-info-bg:                  #d9edf7;
//$state-info-border:              darken(spin($state-info-bg, -10), 7%);



// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $col-m;

$container-wide:            $col-xl;
$container-desktop:         $col-l;




