/* 

shame!!!! just some dirty styles to get a basic style. 
I will refacter to get the project started :) 

*/

.content,
.navigation {
    @extend %center-element;
    max-width:960px;
    width: 100%;
}

.navigation--wrapper {
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
}

    .navigation a {
        color:#fff;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        display:inline-block;
    }
        .navigation a.active {
            background-color: #2E2F2B;
        }
        .navigation a:hover {
            color:#E6DB74;
        }


.logo {
    display:inline-block;
    margin-top:0.45em;
    font-size:1.8em;
    a {
        color:#fff;
    }
    a:hover {
        color:#E6DB74;
        //span {
        //    color:#fff;
        //}
    }
    span {
        color:#E6DB74;
    }

}


.testbox-100-100 {
     width:100px;
    height:100px;
}

%fred {
    left:-329px;
}
.fred-block-grid {
  @extend %fred;
  top:123px;
}
.fred-button-group {
  @extend %fred;
  top:123px;
}

.fred-arrows, 
.fred-badges, 
.fred-blocks,
.fred-breadcrumbs, 
.fred-buttons, 
.fred-caret, 
.fred-close, 
.fred-forms, 
.fred-grid, 
.fred-headings, 
.fred-icons-with-text,
.fred-images,
.fred-lists,
.fred-media,
.fred-visability,
.fred-typography,
.fred-spacing,
.fred-ratio,
.fred-radii,
.fred-prepend,
.fred-positioning,
.fred-pills,
.fred-pagination,
.fred-navigation,
.fred-links,
.fred-inline-block,{
  @extend %fred;
}

.fred-arrows          {top:-26px;} //1
.fred-badges          {top:7px;}   //2
.fred-blocks          {top:41px;}  //3
.fred-breadcrumbs     {top:74px;}  //4
.fred-buttons         {top:106px;} //5
.fred-caret           {top:139px;} //6
.fred-close           {top:172px;} //7
.fred-forms           {top:205px;} //8
.fred-grid            {top:239px;} //9
.fred-headings        {top:271px;} //10
.fred-icons-with-text {top:304px;} //11
.fred-images          {top:338px;} //12
.fred-lists           {top:370px;} //13
.fred-media           {top:403px;} //14
.fred-radii           {top:436px;} //15
.fred-spacing         {top:468px;} //16
.fred-typography      {top:502px;} //17
.fred-positioning     {top:536px;} //18
.fred-visability      {top:569px;} //19
.fred-prepend         {top:601px;} //20
.fred-inline-block    {top:655px;} //21
.fred-ratio           {top:687px;} //22
.fred-pills           {top:723px;} //23
.fred-pagination      {top:755px;} //24
.fred-navigation      {top:787px;} //25
.fred-button-group    {top:820px;} //26
.fred-block-grid      {top:853px;} //27
.fred-links           {top:887px;} //28



//example for poitioning page
.specific-bird {
    top:10px;
    left:17px;
}

//dummy icon for this tut :) 
.icon-placeholder {
    
    background-image:url("/assets/images/icon-placeholder.png");
    width:40px;
    height:40px;
    display:inline-block;
}

//test one move this when you add images
.img-rounded {
    @include vendor(border-radius, 50% 50% 50% 50%);
}

@mixin form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label {
    color: $text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: $border-color;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($border-color, 10%);
      //$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
      //@include box-shadow($shadow);
    }
  }
  // Set validation states also for addons
  .input-group-addon {
    color: $text-color;
    border-color: $border-color;
    background-color: $background-color;
  }
}

.pink-input-text {
    /* @include placeholder($color);*/
    @include placeholder(#F92672);
}
/**
 * Typographic relationships (nawww, aren't they so good together?)
 * ----------------------------------------------------------------------------
 */

h4 + h6,
h4 + p,
h5 + p {
    margin-top: px-to-em($bs-xxs, $font-size-xs);               
}

p + p, 
.list-styled li + li, 
.list-styled--decimal li + li, 
.list-styled-alpha li + li {
    margin-top: px-to-em($bs-xxs, $font-size-xs);                           
}

/**
 *  Theme block --green, pink, blue
 * -----------------------------------------------------------------------------
 */

//green theme box
$green-bg-color:                #A6E22E;
$green-txt-color:               $base-font-color; 
$green-border-color:            $green-bg-color;

//pink theme box
$pink-bg-color:                 #F92672;
$pink-txt-color:                $base-font-color ; 
$pink-border-color:             $pink-bg-color;

//blue theme box
$blue-bg-color:                 #4AA1C5;
$blue-txt-color:                #fff; 
$blue-border-color:             $blue-bg-color;


.green-block {
  @extend %border;
    @include theme-block( $green-bg-color, $green-txt-color, $green-border-color );
}

.pink-block {
  @extend %border;
    @include theme-block( $pink-bg-color, $pink-txt-color, $pink-border-color );
}

.blue-block {
  @extend %border;
    @include theme-block( $blue-bg-color, $blue-txt-color, $blue-border-color );
}
