/* 

shame!!!! just some dirty styles to get a basic style. i WILL refacter to get the project started :) 

*/


.content,
.navigation {
    @extend %center-element;
    max-width:760px;
    width: 100%;
}

.navigation--wrapper {
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
}

    .navigation a {
        color:#fff;
        text-decoration: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        display:inline-block;
    }
        .navigation a.active {
            background-color: #2E2F2B;
        }
        .navigation a:hover {
            color:#E6DB74;
        }


.logo {
    display:inline-block;
    margin-top:0.45em;
    font-size:1.8em;
    a {
        color:#fff;
    }
    a:hover {
        color:#E6DB74;
        //span {
        //    color:#fff;
        //}
    }
    span {
        color:#E6DB74;
    }

}

//extract and make small medium and large
.br--s {
    border-radius:10px;
}

.testbox {
    @include box-dimensions(150px, 150px);
    display:inline-block;
}

.testbox-100-100 {
    @include box-dimensions(100px, 100px);
}

.testbox-400-100 {
    @include box-dimensions(100px, 300px);  
}
.homepage {
    background-color:#4D4D4D;
    color:#fff;
}

.fred {
    left:-138px; 
    top:0;
}

.fred-layout {
    top:-22px; 
    right:72px;
}

.fred-buttons-page {
    right:30px; 
    top:191px;
}

.specific-bird {
    top:10px;
    left:17px;
}
//wtf setcion am i using this 
//????
.i {
    @extend .inline-block;
    vertical-align: middle;
    font-style: normal;
}

//dummy icon for this tut :) 
.icon-placeholder {
    
    background-image:url("/assets/images/icon-placeholder.png");
    width:40px;
    height:40px;
    display:inline-block;
}

//test one move this when you add images
.img-rounded {
    @include vendor(border-radius, 50% 50% 50% 50%);
}

@mixin form-control-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label {
    color: $text-color;
  }
  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: $border-color;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($border-color, 10%);
      //$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
      //@include box-shadow($shadow);
    }
  }
  // Set validation states also for addons
  .input-group-addon {
    color: $text-color;
    border-color: $border-color;
    background-color: $background-color;
  }
}
.pink-input-text {
    /* @include placeholder($color);*/
    @include placeholder(#F92672);
}

h1 .tiny {
    font-weight:normal;
}

.mw--80 {
    max-width:80%;
}
.mw--70 {
    max-width:70%;
}