
/**
 *  Fred's theme 
 * -----------------------------------------------------------------------------
 *  This template holds theme patters for a few of Fred's objects (These are outlined below), along with some other theme helpers 
 *  This template will vary with every project so it is just intended to be included once at 
 * the start of your project and then you can modify it all you like
 */

// Classname theme prefixes  (I was going to do pt but that kinda looks like padding top, ... other ideas welcome though)
// ------------------------------------------------------------------------------------------------------------------------------
// tp = Primary theme
// ts = Secondary theme
// tt = Tertiary theme
// tq = Quarternary theme


// Objects with theme helpers
// -----------------------------------------------------------------------------
// * Breadcrumbs
// * Badges
// * Block themes
// * Page headers
// * Buttons
// * Pills
// * Lozenge
// *


// Base Colours and links 
// -----------------------------------------------------------------------------

$tp-base-bg-color:                  #4D4D4D;
$tp-base-font-color:                #2E2F2B;
$tp-hr-colour:                      #e5e5e5;

$tp-link-color:                     #2F72BA;
$tp-link-hover-color:               darken($tp-link-color, 15%);
$tp-active-link-color:              #33B233;
$tp-active-link-hover-color:        darken($tp-active-link-color, 15%);

.tp-active-link { 
  &:hover {
    color: $tp-active-link-hover-color; 
  }
  color: $tp-active-link-color; 
}


// Base colours for your site
// ----------------------------------------------------------------------------

html, 
body {
    background-color:   $tp-base-bg-color;
    color:              $tp-base-font-color;
}

a {
    color:              $tp-link-color;
    &:hover {
        color:          $tp-link-hover-color;
    }
}

hr {
  background-color:     $tp-hr-colour;
  color:                $tp-hr-colour;
}


// Lists
// ----------------------------------------------------------------------------

$tp-active-list-style-color:    $tp-active-link-color;

//change the colour of the list style type
.tp-active-list { 
  color: $tp-active-list-style-color; 
}


// Breadcrumbs
// ----------------------------------------------------------------------------


$tp-breadcrumb-active-txt:        #555;
$tp-breadcrumb-txt:               #666;
$tp-breadcrumb-bg:                #f2f2f2;


.tp-breadrumbs {
  background-color: $tp-breadcrumb-bg;
  > li {
    &+li:before {
      color: $tp-breadcrumb-txt;
    }
  }
  > .active {
    color: $tp-breadcrumb-active-txt;
  }
}



// Badges
// ----------------------------------------------------------------------------

//primary theme
$tp-badge-txt:                    #fff;
$tp-badge-bg:                     pink;
$tp-badge-radius:                 10px;
$tp-badge-active-txt:             #efefef;
$tp-badge-active-bg:              blue;


.tp-badge {
    color: $tp-badge-txt;
    background-color: $tp-badge-bg;
    border-radius: $tp-badge-radius;
}

// Account for counters in navs
a.tp-badge_active > .badge {
    color: $tp-badge-active-txt;
    background-color: $tp-badge-active-bg;
}


// Page header
// ----------------------------------------------------------------------------

$tp-page-header-txt:                #343434;
$tp-page-header-span-txt:           slategray;

.tp-page-header {
    color:$tp-page-header-txt;
    span {
        color:$tp-page-header-span-txt;
    }
}



// Theme blocks - success, warning and danger 
// ----------------------------------------------------------------------------

$success-bg-color:              #C5FFC6;
$success-txt-color:             #468847;
$success-border-color:          $success-txt-color;

$warning-bg-color:              #FFFFD2;
$warning-txt-color:             #DAB26D;
$warning-border-color:          $warning-txt-color;

$danger-bg-color:               #FFC9C7;
$danger-txt-color:              #B94A48;
$danger-border-color:           $danger-txt-color;


.success-block {
  @extend %border;
  @include theme-block( $success-bg-color, $success-txt-color, $success-border-color );
}

.warning-block {
  @extend %border;
  @include theme-block( $warning-bg-color, $warning-txt-color, $warning-border-color );
}

.danger-block {
  @extend %border;
  @include theme-block( $danger-bg-color, $danger-txt-color, $danger-border-color );
}


// Theme blocks - Primary, Secondary, Tertiary, Quarternary 
// ----------------------------------------------------------------------------

//primary 
$primary-bg-color:              #fff;
$primary-txt-color:             $base-font-color; 
$primary-border-color:          $primary-bg-color;

//secondary 
$secondary-bg-color:            #f2f2f2;
$secondary-txt-color:           $base-font-color ; 
$secondary-border-color:        #E6E6E6;

//tertiary 
$tertiary-bg-color:             #2E2F2B;
$tertiary-txt-color:            #fff; 
$tertiary-border-color:         $tertiary-bg-color;

//quarternary 
$quarternary-bg-color:          #4D4D4D;
$quarternary-txt-color:         #fff; 
$quarternary-border-color:      $quarternary-bg-color;


.tp-block {
  @extend %border;
  border-radius: $radius-l;
  @include theme-block( $primary-bg-color, $primary-txt-color, $primary-border-color );
}

.ts-block {
  @extend %border;
  @include theme-block( $secondary-bg-color, $secondary-txt-color, $secondary-border-color );
}

.tt-block {
  @extend %border;
  @include theme-block( $tertiary-bg-color, $tertiary-txt-color, $tertiary-border-color );
}

.tq-block {
  @extend %border;
    @include theme-block( $quarternary-bg-color, $quarternary-txt-color, $quarternary-border-color );
}



// Buttons
// ----------------------------------------------------------------------------

//default active states

$active-btn-bg:                 #333;
$active-btn-text:               #fff;

// main theme blocks
$primary-btn-bg:                #3CBE8A;
$primary-btn-txt:               #fff;
$primary-btn-border:            $primary-btn-bg;
$primary-btn-hover-bg:          darken(#3CBE8A, 7%);
$primary-btn-hover-txt:         #fff;

$secondary-btn-bg:              #999;
$secondary-btn-txt:             #fff;
$secondary-btn-border:          $primary-btn-bg;
$secondary-btn-hover-bg:        #777;
$secondary-btn-hover-txt:       #fff;

$tertiary-btn-bg:               #ddd;
$tertiary-btn-txt:              #fff;
$tertiary-btn-border:           #444;
$tertiary-btn-hover-bg:         #ccc;
$tertiary-btn-hover-txt:        #333;


// theme blocks positive negative.. ??
$positive-btn-bg:              #3977B1;
$positive-btn-txt:             #fff;
$positive-btn-border:          $primary-btn-bg;
$positive-btn-hover-bg:        darken(#3977B1, 7%);
$positive-btn-hover-txt:       $secondary-btn-txt;

$negative-btn-bg:              #eb3930;
$negative-btn-txt:             #fff;
$negative-btn-border:          #444;
$negative-btn-hover-bg:        #d8281f;
$negative-btn-hover-txt:       $negative-btn-txt;

.tp-btn {
    
    @include theme-block($primary-btn-bg, $primary-btn-txt, $primary-btn-border);  
    &:hover {
        background-color: $primary-btn-hover-bg;
        color: $primary-btn-hover-txt;
    }
}

.ts-btn {
    @include theme-block($secondary-btn-bg, $secondary-btn-txt, $secondary-btn-border);
    &:hover {
        background-color: $secondary-btn-hover-bg;
        color: $secondary-btn-hover-txt;
    }
}

.tt-btn {
    @include theme-block($tertiary-btn-bg, $tertiary-btn-txt, $tertiary-btn-border);
    &:hover {
        background-color: $tertiary-btn-hover-bg;
        color: $tertiary-btn-hover-txt;
    }
}

.btn-positive {
    @include theme-block($positive-btn-bg, $positive-btn-txt, $positive-btn-border);
    &:hover {
        background-color: $positive-btn-hover-bg;
        color: $positive-btn-hover-txt;
    }
}

.btn-negative {
    @include theme-block($negative-btn-bg, $negative-btn-txt, $negative-btn-border);
    &:hover {
        background-color: $negative-btn-hover-bg;
        color: $negative-btn-hover-txt;
    }
}

/**
 * A common active state makes us look pro as, bro!
 */

.btn:active {
    background-color: $active-btn-bg;
    color: $active-btn-text;
}


// Pills
// ----------------------------------------------------------------------------

$tp-pill-bg-color:               #333;
$tp-pill-text-color:             #fff;

.tp-pill {
  background-color: $tp-pill-bg-color;
  color: $tp-pill-text-color;
}


// Lozenge
// ----------------------------------------------------------------------------

$tp-lozenge-radius:              .25em;
$tp-lozenge-bg-color:            #F92672;

.tp-lozenge {
  background-color: $tp-lozenge-bg-color;
  border-radius: $tp-lozenge-radius;
}


// Headings 
// ----------------------------------------------------------------------------

$tp-sub-header:                    #999;
$tp-heading:                       #2E2F2B;                  
$tp-keyline-color:                 #E5E5E5;

.tp-heading {
  color:$tp-heading;
}

    .heading--keyline { 
      border-bottom-color:$tp-keyline-color;
    }

    .heading__subheading {
      color:$tp-sub-header;
    }


// Arrows  
// ----------------------------------------------------------------------------


// Forms
// ----------------------------------------------------------------------------

// Navigation
// ----------------------------------------------------------------------------
$tp-nav-color:                    #FFFFFF;
$tp-nav-color-hover:              #E6DB74;
$tp-nav-bg-color:                 #4D4D4D;                  
//active?
.tp-navigation {
  
  background-color: $tp-nav-bg-color;
  //text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  & > li, 
  & > a {
    color:$tp-nav-color;
  }
    & > li:hover,
    & > li.active, 
    & > a.active {
      color:$tp-nav-color-hover;
    }
    
}

// Common colours - Greys
// --------------------------------------------------------

$grey-darker:                   lighten(#000, 13.5%); // #222
$grey-dark:                     lighten(#000, 20%);   // #333
$grey:                          lighten(#000, 33.5%); // #555
$grey-light:                    lighten(#000, 60%);   // #999
$grey-lighter:                  lighten(#000, 93.5%); // #eee


// Common text colours
// --------------------------------------------------------

$tp-white:  #fff;
$tp-yellow: #E6DB74;
$tp-grey: #999;
$tp-green: #33B233;

.tp-text-yellow         { color:$tp-yellow; }
.tp-text-green          { color:$tp-green; }
.tp-text-grey           { color:$tp-grey; }
.tp-text-white          { color:$tp-white; }


.tp-text-green--hover {
  &:hover {
    color:$tp-green;
  }
}


