/* ------------------------------------------------------------------- *
 |  TYPE:           Main stylesheet
 |  AUTHOR(S):
 |  DATE CREATED:   DD/MM/YYYY
 |  DATE UPDATED:   DD/MM/YYYY
 |  DESCRIPTION:
 |
 |	STRUCTURE:
 |		1. CORE
 |		2. HELPER FUNCTIONS & MIXINS
 |		3. GLOBAL STYLES
 |		4. LAYOUTS
 |		5. UI ELEMENTS
 |		6. PAGE/SECTION SPECIFIC STYLES
 |		7. PRINT
 |
 * ------------------------------------------------------------------- */
/* line 1, ../sass/core/_reset.scss */
body {
  margin: 0;
}

/**
 * Spacing: she's a fickle mistress.
 * -----------------------------------------------------------------------------
 */
/* line 56, ../sass/core/_variables.scss */
.m0 {
  margin-top: 0;
}

/* line 57, ../sass/core/_variables.scss */
.m0--b, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .para {
  margin-bottom: 0;
}

/* line 58, ../sass/core/_variables.scss */
.xxxm {
  margin-top: 0.1em;
}

/* line 59, ../sass/core/_variables.scss */
.xxm {
  margin-top: 0.5em;
}

/* line 60, ../sass/core/_variables.scss */
.xm {
  margin-top: 1em;
}

/* line 61, ../sass/core/_variables.scss */
.m {
  margin-top: 1.5em;
}

/* line 62, ../sass/core/_variables.scss */
.mx {
  margin-top: 2.25em;
}

/* line 63, ../sass/core/_variables.scss */
.mxx {
  margin-top: 3em;
}

/* line 65, ../sass/core/_variables.scss */
.xxm--b {
  margin-bottom: 0.5em;
}

/* line 66, ../sass/core/_variables.scss */
.xm--b {
  margin-bottom: 1em;
}

/* line 67, ../sass/core/_variables.scss */
.m--b {
  margin-bottom: 1.5em;
}

/* line 68, ../sass/core/_variables.scss */
.mx--b {
  margin-bottom: 2.25em;
}

/* line 69, ../sass/core/_variables.scss */
.mxx--b {
  margin-bottom: 3em;
}

/* line 71, ../sass/core/_variables.scss */
.p0 {
  padding-top: 0 !important;
}

/* line 72, ../sass/core/_variables.scss */
.p0--b {
  padding-bottom: 0 !important;
}

/* line 73, ../sass/core/_variables.scss */
.xxp {
  padding-top: 0.5em;
}

/* line 74, ../sass/core/_variables.scss */
.xp {
  padding-top: 1em;
}

/* line 75, ../sass/core/_variables.scss */
.p {
  padding-top: 1.5em;
}

/* line 76, ../sass/core/_variables.scss */
.px {
  padding-top: 2.25em;
}

/* line 77, ../sass/core/_variables.scss */
.pxx {
  padding-top: 3em;
}

@media print {
  /* line 7, ../sass/core/_print.scss */
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  /* line 15, ../sass/core/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 19, ../sass/core/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 23, ../sass/core/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../sass/core/_print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 34, ../sass/core/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 39, ../sass/core/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 44, ../sass/core/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 48, ../sass/core/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 58, ../sass/core/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 64, ../sass/core/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 *
 * Layout helpers
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *
 *      1. Clearfix
 *		2. Float Helpers
 *      3. Absolute positioning helpers
 *      4. Generic blocks
 *      5. Media blocks
 *      6. Inline Grid  
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */
/**
 * 1. Clearfix
 * -----------------------------------------------------------------------------
 *
 */
/* line 29, ../sass/core/_layout.scss */
.clearfix, .media, .media--rev, .list--inline, .cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
/* line 31, ../sass/core/_layout.scss */
.clearfix:before, .media:before, .media--rev:before, .list--inline:before, .clearfix:after, .media:after, .media--rev:after, .list--inline:after, .cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 36, ../sass/core/_layout.scss */
.clearfix:after, .media:after, .media--rev:after, .list--inline:after, .cf:after {
  clear: both;
}

/**
 * 2. Float helpers
 * ----------------------------------------------------------------------------
 */
/* line 53, ../sass/core/_layout.scss */
.pull-left {
  float: left;
}

/* line 57, ../sass/core/_layout.scss */
.pull-right {
  float: right;
}

/**
 * 3. Absolute positioning helpers
 * ----------------------------------------------------------------------------
 */
/* line 67, ../sass/core/_layout.scss */
.relative {
  position: relative;
}

/* line 71, ../sass/core/_layout.scss */
.absolute__bottom_left, .absolute__bottom_right, .absolute__top_left, .absolute__top_right {
  position: absolute;
}

/* line 75, ../sass/core/_layout.scss */
.absolute__bottom_left {
  bottom: 0;
  left: 0;
}

/* line 81, ../sass/core/_layout.scss */
.absolute__bottom_right {
  bottom: 0;
  right: 0;
}

/* line 87, ../sass/core/_layout.scss */
.absolute__top_left {
  top: 0;
  left: 0;
}

/* line 93, ../sass/core/_layout.scss */
.absolute__top_right {
  top: 0;
  right: 0;
}

/**
 * 4. Generic blocks
 * ----------------------------------------------------------------------------
 <div class='block block--bleed block--mobile'>
	Some content.
 </div>
 */
/* line 108, ../sass/core/_layout.scss */
.block {
  margin-top: 1.5em;
  padding: 1.5em 3em;
}

/* line 118, ../sass/core/_layout.scss */
.block > :first-child,
.block--xl > :first-child,
.block--xxl > :first-child,
.block--xxxl > :first-child,
.block--xs > :first-child,
.block--xxs > :first-child {
  margin-top: 0;
}

/* line 122, ../sass/core/_layout.scss */
.block--xl {
  padding: 2.25em 4.5em;
}

/* line 126, ../sass/core/_layout.scss */
.block--xxl {
  padding: 3em 6em;
}

/* line 130, ../sass/core/_layout.scss */
.block--xxxl {
  padding: 3.75em 7.5em;
}

/* line 134, ../sass/core/_layout.scss */
.block--xs {
  padding: 1em 0.75em;
}

/* line 138, ../sass/core/_layout.scss */
.block--xxs {
  padding: 0.75em 0.375em;
}

/* line 142, ../sass/core/_layout.scss */
.block--tight {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/* line 147, ../sass/core/_layout.scss */
.block--bleed {
  padding: 0;
}

/* line 151, ../sass/core/_layout.scss */
.block--bleed__padding {
  padding: 1.5em 3em;
}

/**
 * 5. Float an image to the left, with a clearfixed block of content to the right.
 * ----------------------------------------------------------------------------
 <div class='media'>
	<img src='/some/image.png' class='media__image'>
	<div class='media__body'>
       The text!
	</div>
 </div>
 */
/* line 173, ../sass/core/_layout.scss */
.media {
  margin-top: 1.5em;
}

/* line 178, ../sass/core/_layout.scss */
.media__image {
  float: left;
}

/* line 186, ../sass/core/_layout.scss */
.media--rev {
  margin-top: 1.5em;
}

/* line 191, ../sass/core/_layout.scss */
.media--rev > .media__image {
  float: right;
}

/**
 * 6. Inline block grid
 * -----------------------------------------------------------------------------
 *
 * [1] Sets the child elements to take up full justified width of the parent
 * [2] Overcomes an issue where the :after element blows out the bottom.
 * [3] A fix for Internet Explorer 8/9
 * 
 */
/* line 211, ../sass/core/_layout.scss */
.grid {
  text-align: justify;
  /* [1] */
  font-size: 0;
  /* [2] */
  text-justify: distribute-all-lines;
  /* [3] */
}

/* line 221, ../sass/core/_layout.scss */
.grid__item, .grid > * {
  font-size: medium;
  text-align: left;
  vertical-align: top;
}

/* line 229, ../sass/core/_layout.scss */
.grid:after,
.grid__break {
  content: '';
  height: 0;
  width: 100%;
}

/**
 * Vertical align these grid items in the middle!
 */
/* line 238, ../sass/core/_layout.scss */
.grid--middle > .grid__item, .grid.grid--middle > * {
  vertical-align: middle;
}

/* line 242, ../sass/core/_layout.scss */
.g--1-1 {
  width: 100%;
}

/* line 245, ../sass/core/_layout.scss */
.g--1-2 {
  width: 50%;
}

/* line 248, ../sass/core/_layout.scss */
.g--1-4 {
  width: 25%;
}

/* line 251, ../sass/core/_layout.scss */
.g--3-4 {
  width: 75%;
}

/* line 255, ../sass/core/_layout.scss */
.g--9-10 {
  width: 80%;
}

/* line 258, ../sass/core/_layout.scss */
.g--1-10 {
  width: 20%;
}

@media only screen and (max-width: 30em) {
  /* line 263, ../sass/core/_layout.scss */
  .g-m--1-1 {
    width: 100%;
  }

  /* line 266, ../sass/core/_layout.scss */
  .g-m--1-2 {
    width: 50%;
  }

  /* line 269, ../sass/core/_layout.scss */
  .g-m--9-10 {
    width: 90%;
  }

  /* line 272, ../sass/core/_layout.scss */
  .g-m--1-10 {
    width: 10%;
  }

  /* line 275, ../sass/core/_layout.scss */
  .g-m--8-10 {
    width: 80%;
  }

  /* line 278, ../sass/core/_layout.scss */
  .g-m--2-10 {
    width: 20%;
  }
}
/* line 285, ../sass/core/_layout.scss */
.overflow-hidden, .media__body, .media--rev > .media__body {
  overflow: hidden;
}

/* line 289, ../sass/core/_layout.scss */
.inline-block, .grid__item, .grid > *, .grid:after,
.grid__break, .list--inline > li, .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 *
 * Typography defaults
 * -----------------------------------------------------------------------------
 *
 * Structure:
 *
 *      1. Sans/serif text
 *		2. Heading styles
 *      3. Paragraph styles
 *      4. Typographic relationships
 *      5. Links
 *      6. Text Allignment classes 
 *		7. List styles
 *		8. Descriptions
        9. Caps
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */
/** 1. Sans/serif text
 * ----------------------------------------------------------------------------
 *
 */
/* line 36, ../sass/core/_typography.scss */
html,
body {
  color: #2E2F2B;
  font-family: "helvetica", sans-serif;
}

/* line 41, ../sass/core/_typography.scss */
.sans {
  font-family: "helvetica", sans-serif;
}

/* line 45, ../sass/core/_typography.scss */
.serif {
  font-family: "georgia", serif;
}

/**
 *  3. Caps
 * ----------------------------------------------------------------------------
 */
/* line 54, ../sass/core/_typography.scss */
.caps {
  text-transform: uppercase;
}

/* line 57, ../sass/core/_typography.scss */
.caps-lower {
  text-transform: lowercase;
}

/** 2. Header defaults
 * ----------------------------------------------------------------------------
 *
 */
/* line 66, ../sass/core/_typography.scss */
h1, .h1 {
  font-size: 2.25em;
  /* 36px */
  line-height: 1;
  /* 36px */
  margin-top: .666666667em;
  /* 24px */
}

/* line 74, ../sass/core/_typography.scss */
h2, .h2 {
  font-size: 1.875em;
  /* 30px */
  line-height: 1.2;
  margin-top: .8em;
  /* 24px */
}

/* line 82, ../sass/core/_typography.scss */
h3, .h3 {
  font-size: 1.375em;
  /* 22px */
  line-height: 1.2;
  margin-top: 1.090909091em;
  /* 24px */
}

/* line 90, ../sass/core/_typography.scss */
h4, .h4 {
  font-size: 1.125em;
  /* 18px */
  line-height: 1.33333333;
  /* 24px */
  margin-top: 1.11111111em;
  /* 20px */
}

/* line 99, ../sass/core/_typography.scss */
h5, .h5 {
  font-size: 1em;
  /* 16px */
  line-height: 1.2;
  margin-top: .75em;
  /* 12px */
}

/* line 107, ../sass/core/_typography.scss */
h6, .h6 {
  font-size: .875em;
  /* 14px */
  line-height: 1.2;
  margin-top: .857142857em;
  /* 12px */
}

/**
 *  3. Paragraph styles
 * ----------------------------------------------------------------------------
 */
/* line 119, ../sass/core/_typography.scss */
p, .para {
  font-size: .875em;
  /* 14px */
  line-height: 1.785714286em;
  /* 25px */
  margin-top: .857142857em;
  /* 12px */
}

/* line 126, ../sass/core/_typography.scss */
.medium {
  font-size: .875em;
  /* 14px */
}

/* line 130, ../sass/core/_typography.scss */
.intro {
  font-size: 1.125em;
  /* 18px */
}

/* line 134, ../sass/core/_typography.scss */
.small {
  font-size: .8125em;
  /* 14px */
}

/* line 138, ../sass/core/_typography.scss */
.tiny {
  font-size: .75em;
  /* 12px */
}

/* line 142, ../sass/core/_typography.scss */
.weak {
  font-weight: normal;
}

/**
 * 4. Typographic relationships (nawww, aren't they so good together?)
 * ----------------------------------------------------------------------------
 */
/* line 152, ../sass/core/_typography.scss */
h4 + h6,
h4 + p,
h5 + p {
  margin-top: .285714286em;
  /* 4px @ 14px */
}

/* line 156, ../sass/core/_typography.scss */
p + p {
  margin-top: .571428571em;
  /* 8px @ 14px */
}

/**
 * 5. Links
 * ----------------------------------------------------------------------------
 */
/**
 * 6. Text Allignment classes
 * ----------------------------------------------------------------------------

 	<p class="text_align--left">Left aligned text.</p>
	<p class="text_align--center">Center aligned text.</p>
	<p class="text_align--right">Right aligned text.</p>

 */
/* line 182, ../sass/core/_typography.scss */
.text-align--left {
  text-align: left;
}

/* line 185, ../sass/core/_typography.scss */
.text-align--right {
  text-align: right;
}

/* line 188, ../sass/core/_typography.scss */
.text-align--center {
  text-align: center;
}

/**
 * 7. List styles
 * ----------------------------------------------------------------------------
 */
/* line 199, ../sass/core/_typography.scss */
.list--unstyled, .list--inline {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* line 205, ../sass/core/_typography.scss */
.list--unstyled > li, .list--inline > li {
  list-style: none;
  margin-left: 0;
}

/**
 * 8. Descriptions
 * ----------------------------------------------------------------------------
 *
 * A list of terms with their associated descriptions.
 *
 *
 */
/* line 230, ../sass/core/_typography.scss */
dl {
  margin-bottom: 20px;
}

/* line 235, ../sass/core/_typography.scss */
dt,
dd {
  line-height: 1.428571429;
}

/* line 239, ../sass/core/_typography.scss */
dt {
  font-weight: bold;
}

/* line 243, ../sass/core/_typography.scss */
dd {
  margin-left: 0;
}

/* Make terms and descriptions in <dl> line up side-by-side. Starts off stacked like default <dl>s, but when the navbar expands, so do these. */
@media (min-width: 768px) {
  /* line 250, ../sass/core/_typography.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* line 259, ../sass/core/_typography.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }

  /* line 263, ../sass/core/_typography.scss */
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    display: table;
    content: " ";
  }

  /* line 267, ../sass/core/_typography.scss */
  .dl-horizontal dd:after {
    clear: both;
  }

  /* line 271, ../sass/core/_typography.scss */
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    display: table;
    content: " ";
  }

  /* line 275, ../sass/core/_typography.scss */
  .dl-horizontal dd:after {
    clear: both;
  }
}
/**
 *
 * Themes
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *
 *      1. Warning Themes
 *		2. Float Helpers
 *      3. Absolute positioning helpers
 *      4. Generic blocks
 *      5. Media blocks
 *      6. Inline Grid  
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */
/**
 * 2. 
 * -----------------------------------------------------------------------------
 */
/* line 28, ../sass/core/_theme.scss */
.muted {
  color: #999;
}

/* line 36, ../sass/core/_theme.scss */
.text_success {
  color: #468847;
}

/* line 40, ../sass/core/_theme.scss */
.text_warning {
  color: #c09853;
}

/* line 44, ../sass/core/_theme.scss */
.text_danger {
  color: #b94a48;
}

/* line 52, ../sass/core/_theme.scss */
.success {
  background-color: #468847;
}

/* line 56, ../sass/core/_theme.scss */
.warning {
  background-color: #c09853;
}

/* line 60, ../sass/core/_theme.scss */
.danger {
  background-color: #b94a48;
}

/*
.theme__block_success {
	background-color: $state-success-bg ;
	color: $state-success-text;
	border-color:$state-success-border;
}

.theme__block_warning {
	background-color: $state-warning-bg ;
	color: $state-warning-text;
	border-color:$state-warning-border;
}

.theme__block_danger {
	background-color: $state-danger-bg;
	color:$state-danger-text;
	border-color:$state-danger-border;
}
*/
/**
 * 2. 
 * -----------------------------------------------------------------------------
 */
/* line 88, ../sass/core/_theme.scss */
.bt-0 {
  border-top: 0!important;
}

/* line 91, ../sass/core/_theme.scss */
.bb-0 {
  border-bottom: 0!important;
}

/* line 94, ../sass/core/_theme.scss */
.theme__block_100 {
  background-color: #fff;
  box-shadow: 1px 1px 2px #FFFFFF inset, 1px 1px 3px 0 #D7D8CF;
}

/* line 104, ../sass/core/_theme.scss */
.theme__block_150 {
  background-color: #FAFBF7;
  border: 1px solid #E1E2DE;
}

/* line 114, ../sass/core/_theme.scss */
.theme__block_200 {
  background-color: #A6E22E;
}

/* line 121, ../sass/core/_theme.scss */
.theme__block_300 {
  background-color: #F92672;
}

/*
.theme__block_400 {
	background-color: pink;
	//color: ;
	//border-color: ;
}

.theme__block_500 {
	background-color: ;
	color: ;
	border-color: ;
}
*/
/* line 140, ../sass/core/_theme.scss */
.theme__block_600 {
  background-color: #61625E;
  color: #fff;
}

/*

.theme__block_700 {
	background-color:#444 ;
	color: #fff;
	border-color:#000 ;
}
*/
/* line 153, ../sass/core/_theme.scss */
.theme__block_800 {
  background-color: #2E2F2B;
}

/* line 161, ../sass/core/_theme.scss */
.text_muted {
  color: #999999;
}

/* shame!!!! just some dirty styles to get a basic style */
/* line 3, ../sass/core/_laura.scss */
.container {
  max-width: 700px;
  margin: 80px 20px 0 auto;
  margin-left: 335px;
}

/* line 8, ../sass/core/_laura.scss */
.navigation--top {
  margin: 0 auto;
  max-width: 960px;
}

/* line 13, ../sass/core/_laura.scss */
.navigation--top li a {
  color: #fff;
  text-decoration: none;
}

/* line 18, ../sass/core/_laura.scss */
pre {
  width: 99%;
  overflow: auto;
  padding: 0;
  margin: 0;
}

/* line 25, ../sass/core/_laura.scss */
.navigation--top li a.active {
  background-color: #484945;
}

/* line 28, ../sass/core/_laura.scss */
.navigation--side {
  position: fixed;
  top: 80px;
  left: 100px;
  width: 200px;
}

/* line 34, ../sass/core/_laura.scss */
.navigation--side li a, .navigation--top li a {
  display: block;
  text-decoration: none;
}

/* line 40, ../sass/core/_laura.scss */
.navigation--side li a {
  color: #4B4D43;
}

/* line 44, ../sass/core/_laura.scss */
.navigation--side li a:hover {
  background-color: #555;
  color: #fff;
  box-shadow: none;
}

/* line 49, ../sass/core/_laura.scss */
.testbox {
  height: 150px;
  width: 150px;
  display: inline-block;
}

/* line 55, ../sass/core/_laura.scss */
.testbox-100-100 {
  height: 100px;
  width: 100px;
}

/* line 60, ../sass/core/_laura.scss */
.testbox-400-100 {
  height: 100px;
  width: 300px;
}

/* line 65, ../sass/core/_laura.scss */
.navigation--wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* line 71, ../sass/core/_laura.scss */
html, body {
  background-color: #fafbf7;
}

/**
 * Buttons
 * -----------------------------------------------------------------------------
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using buttons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the button’s text is 1em, and the button is (2.5 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
 */
/* line 19, ../sass/core/_buttons.scss */
.btn {
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  cursor: pointer;
  /* [5] */
  margin: inherit 0 0 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 2.5;
  /* [7] */
  padding-right: 1.5em;
  /* [7] */
  padding-left: 1.5em;
  /* [7] */
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  -ms-border-radius: 0.375em;
  -o-border-radius: 0.375em;
  border-radius: 0.375em;
}
/* line 38, ../sass/core/_buttons.scss */
.btn, .btn:hover {
  text-decoration: none;
  /* [9] */
}
/* line 43, ../sass/core/_buttons.scss */
.btn:active, .btn:focus {
  outline: none;
}

/**
 * Button modifiers
 * ----------------------------------------------------------------------------
 * E.g:
    <a class='btn btn--large'>
        My big button
    </a>
 * Or,
    <a class='btn btn--small btn--soft'>
        My small rounded button
    </a>
 */
/* line 63, ../sass/core/_buttons.scss */
.btn--large,
.btn--icon-large,
.btn--icon-large--rev,
.btn--icon-only--large {
  line-height: 3.5;
}

/* line 67, ../sass/core/_buttons.scss */
.btn--large {
  padding-right: 3em;
  padding-left: 3em;
}

/* line 75, ../sass/core/_buttons.scss */
.btn--small,
.btn--icon-small,
.btn--icon-small--rev,
.btn--icon-only--small {
  line-height: 2;
}

/* line 79, ../sass/core/_buttons.scss */
.btn--small {
  padding-right: 0.75em;
  padding-left: 0.75em;
}

/**
 * Pill type buttons with (rounded) ends
 * ----------------------------------------------------------------------------
 */
/* line 88, ../sass/core/_buttons.scss */
.btn--soft {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}

/* line 92, ../sass/core/_buttons.scss */
.btn--hard {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/**
 * Block buttons stretch to the full width of their parent (handy!)
 */
/* line 100, ../sass/core/_buttons.scss */
.btn--block {
  display: block;
  text-align: center;
}

/**
 * Make a button behave like a block at mobile only (also handy)
 */
@media only screen and (max-width: 37.5em) {
  /* line 109, ../sass/core/_buttons.scss */
  .btn--block-mobile {
    text-align: center;
    display: block;
  }
}
/**
 * Submit buttons
 * ----------------------------------------------------------------------------
 * FireFox doesn't like line-heights on submit buttons. Stick a class on submit
 * buttons and make sure the padding's the same as your default button :)
 */
/* line 121, ../sass/core/_buttons.scss */
.btn--submit {
  line-height: 1;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/* line 127, ../sass/core/_buttons.scss */
.btn--submit-large {
  line-height: 1;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 133, ../sass/core/_buttons.scss */
.btn--submit-small {
  line-height: 1;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
}

/**
 * Buttons with icons
 * ----------------------------------------------------------------------------
 * E.g:
    <a class='btn btn--icon'>
        <i class='i sprite_icon_edit'></i>
        My big button
    </a>
 * Or,
    <a class='btn btn--icon-large--rev'>
        My small rounded button
        <i class='i sprite_icon_close'></i>
    </a>
 */
/* line 155, ../sass/core/_buttons.scss */
.btn--icon-only,
.btn--icon-only--small,
.btn--icon-only--large {
  text-align: center;
  min-width: 1em;
}

/* line 159, ../sass/core/_buttons.scss */
.btn--icon-only {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

/* line 164, ../sass/core/_buttons.scss */
.btn--icon-only--small {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

/* line 169, ../sass/core/_buttons.scss */
.btn--icon-only--large {
  padding-left: 1.66667em;
  padding-right: 1.66667em;
}

/* line 175, ../sass/core/_buttons.scss */
.btn--icon {
  padding-left: 0.75em;
}
/* line 177, ../sass/core/_buttons.scss */
.btn--icon > .i {
  margin-right: 0.75em;
}

/* line 182, ../sass/core/_buttons.scss */
.btn--icon--rev {
  padding-right: 0.75em;
}
/* line 184, ../sass/core/_buttons.scss */
.btn--icon--rev > .i {
  margin-left: 0.75em;
}

/* line 189, ../sass/core/_buttons.scss */
.btn--icon-large {
  padding-left: 1.5em;
  padding-right: 3em;
}
/* line 192, ../sass/core/_buttons.scss */
.btn--icon-large > .i {
  margin-right: 0.75em;
}

/* line 197, ../sass/core/_buttons.scss */
.btn--icon-large--rev {
  padding-left: 3em;
  padding-right: 1.5em;
}
/* line 200, ../sass/core/_buttons.scss */
.btn--icon-large--rev > .i {
  margin-left: 0.75em;
}

/* line 205, ../sass/core/_buttons.scss */
.btn--icon-small {
  padding-left: 0.5em;
  padding-right: 0.75em;
}
/* line 208, ../sass/core/_buttons.scss */
.btn--icon-small > .i {
  margin-right: 0.375em;
}

/* line 213, ../sass/core/_buttons.scss */
.btn--icon-small--rev {
  padding-left: 0.75em;
  padding-right: 0.375em;
}
/* line 216, ../sass/core/_buttons.scss */
.btn--icon-small--rev > .i {
  margin-left: 0.75em;
}

/**
 * Button types
 * ----------------------------------------------------------------------------
 * E.g:
    <a class='btn btn-primary'>
        My awesome button
    </a> 
 */
/* line 232, ../sass/core/_buttons.scss */
.btn-primary:hover,
.btn-secondary:hover,
.btn-positive:hover,
.btn-negative:hover {
  color: #fff;
}

/* line 236, ../sass/core/_buttons.scss */
.btn-primary {
  background-color: #3CBE8A;
  color: #fff;
}
/* line 240, ../sass/core/_buttons.scss */
.btn-primary:hover {
  background-color: #33a376;
}

/* line 245, ../sass/core/_buttons.scss */
.btn-secondary {
  background-color: #999;
  color: #fff;
}
/* line 249, ../sass/core/_buttons.scss */
.btn-secondary:hover {
  background-color: #777;
}

/* line 254, ../sass/core/_buttons.scss */
.btn-tertiary {
  background-color: #ddd;
  color: #444;
}
/* line 258, ../sass/core/_buttons.scss */
.btn-tertiary:hover {
  background-color: #ccc;
  color: #333;
}

/* line 264, ../sass/core/_buttons.scss */
.btn-positive {
  background-color: #3977B1;
  color: #fff;
}
/* line 267, ../sass/core/_buttons.scss */
.btn-positive:hover {
  background-color: #306596;
}

/* line 272, ../sass/core/_buttons.scss */
.btn-negative {
  background-color: #eb3930;
  color: #fff;
}
/* line 275, ../sass/core/_buttons.scss */
.btn-negative:hover {
  background-color: #d8281f;
}

/**
 * A common active state makes us look pro as, bro!
 */
/* line 282, ../sass/core/_buttons.scss */
.btn:active {
  background-color: #333;
  color: #fff;
}

/**
 * ----------------------------------------------------------------------------
 * Button behaviors
 * ----------------------------------------------------------------------------
 */
/**
 * Simple bounces
 * ----------------------------------------------------------------------------
 */
/* line 298, ../sass/core/_buttons.scss */
.btn--bounce,
.btn--bob {
  position: relative;
  -webkit-transition: bottom 100ms ease-out;
  -moz-transition: bottom 100ms ease-out;
  -ms-transition: bottom 100ms ease-out;
  -o-transition: bottom 100ms ease-out;
  transition: bottom 100ms ease-out;
}

/* line 303, ../sass/core/_buttons.scss */
.btn--bounce:active {
  bottom: -2px;
}

/* line 307, ../sass/core/_buttons.scss */
.btn--bob:active {
  bottom: -1px;
}

/**
 * Bounce the icon to a side
 */
/* line 317, ../sass/core/_buttons.scss */
.btn--bounce-icon--right .i,
.btn--bounce-icon--left .i,
.btn--bounce-icon--bottom .i,
.btn--bounce-icon--top .i {
  position: relative;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

/* line 323, ../sass/core/_buttons.scss */
.btn--bounce-icon--right:hover .i {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  left: .3125em;
}

/* line 328, ../sass/core/_buttons.scss */
.btn--bounce-icon--left:hover .i {
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  right: .3125em;
}

/* line 333, ../sass/core/_buttons.scss */
.btn--bounce-icon--bottom:hover .i {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -ms-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  top: .3125em;
}

/* line 338, ../sass/core/_buttons.scss */
.btn--bounce-icon--top:hover .i {
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -ms-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  bottom: .3125em;
}

/**
 * Inset buttons on block level elements
 * ----------------------------------------------------------------------------
 */
/* line 347, ../sass/core/_buttons.scss */
.btn--inset {
  position: relative;
}

/* line 351, ../sass/core/_buttons.scss */
.btn--inset:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  -webkit-transition: border-width 100ms ease-out, visibility 100ms;
  -moz-transition: border-width 100ms ease-out, visibility 100ms;
  -ms-transition: border-width 100ms ease-out, visibility 100ms;
  -o-transition: border-width 100ms ease-out, visibility 100ms;
  transition: border-width 100ms ease-out, visibility 100ms;
  content: " ";
  display: block;
  border-width: 0;
  border-color: inherit;
  border-style: solid;
}

/* line 365, ../sass/core/_buttons.scss */
.btn--inset:hover:after {
  border-width: 4px;
  visibility: visible;
}

/* line 369, ../sass/core/_buttons.scss */
.btn--inset-primary:after {
  border-color: #3977B1;
}

/* line 372, ../sass/core/_buttons.scss */
.btn--inset-secondary:after {
  border-color: #eb3930;
}

/* line 375, ../sass/core/_buttons.scss */
.btn--inset-large:hover:after {
  border-width: 8px;
}

/* line 378, ../sass/core/_buttons.scss */
.btn--inset-small:hover:after {
  border-width: 1px;
}

/**
 * Buttons that show a loading indicator when clicked
 * ----------------------------------------------------------------------------
 */
/* line 386, ../sass/core/_buttons.scss */
.btn--spinner {
  position: relative;
  cursor: default;
}

/* line 391, ../sass/core/_buttons.scss */
.btn--spinner .btn--label {
  opacity: 0;
  visibility: hidden;
}

/* line 396, ../sass/core/_buttons.scss */
.btn--spinner:after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: url("an/image.png");
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 407, ../sass/core/_buttons.scss */
.btn--spinner--text:after {
  content: attr(data-btn-loading-indicator);
}
