/**
 * CSS close icon
 * ----------------------------------------------------------------------------
 * <button type="button" class="close" aria-hidden="true">×</button>
 */

.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

    .close:after {
        content: "\00d7";
        display: inline-block;
        font-size: 1.5em;
        line-height: 1;
        opacity: 0.2;
    }

    .close:hover:after {
        opacity: 1;
    }
