/**
 * Headings
 * -----------------------------------------------------------------------------
 */
 
.heading {
    > :first-child {
        margin-top:0;
    }
}

    .heading--keyline {
        padding-bottom: $bs-xxs;
        border-bottom-width:1px; 
        border-bottom-style:solid;

    }

    .heading__subheading {
        font-weight: normal;
    }