.heading {
    > :first-child {
        margin-top:0;
    }
}

    .heading--keyline {
        padding-bottom: $bs-xxs;
        border-bottom: solid 1px $hr-colour;
    }

    .heading__subheading {
        font-weight: normal;
    }