/**
 * Links/Anchors
 * 
 */

/* A link without any text-decoration at all. */
%clean-link {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
    text-decoration: none;
}


/* A link with out any text decoration */
.clean-link {
    @extend %clean-link;
}


/* A list without any text decoration commonly used in vertical navigation lists*/
.clean-link-list a {
   @extend %clean-link;
}

/* Link states */
/* http://www.thecssninja.com/javascript/pointer-events-60fps */
.is-disabled,
.is-disabled * {
    cursor: default;
    pointer-events: none !important;
}

.is-draggable {
    cursor: move;
}

a[rel~="external"]:before {
    //add an image so we can add in a external image icon
}

//add in a pdf link 