/**
 * Nav
 * ----------------------------------------------------------------------------
 *
 * Turns a list into a horizontal block of inline-blocks;
 *
 */

.nav {
    @extend .clearfix; /* This extend is found in core */
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

    .nav > li {
        @extend %inline-block; /* This extend is found in core */
        margin-top: 0;
    }


/**
 * Sub nav
 * ----------------------------------------------------------------------------

<dl class="sub-nav">
    <dt>Filter:</dt>
    <dd class="active"><a href="#">All</a></dd>
    <dd><a href="#">Active</a></dd>
    <dd><a href="#">Pending</a></dd>
    <dd><a href="#">Suspended</a></dd>
</dl>
 */

.sub-nav {
    display: block;
    width: auto;
    overflow: hidden;
}

    .sub-nav > dt,
    .sub-nav > dd {
        float: left;
    }

    .sub-nav > dd {
        margin-left: $bs-xs;
    }


    .sub-nav > .active a {

    }