/**
 * Visibility
 * -----------------------------------------------------------------------------
 */
@each $query in $breakpoints {
    $queryName: nth($query, 1);
    @include media($queryName) {
        .visible-#{$queryName} {
            display: block !important;
        }
        .hidden-#{$queryName} {
                display: none !important;
        }
    }
}

/**
 * Hide an element, but make it visible to screen readers
 * ----------------------------------------------------------------------------
 */
.visually-hidden {
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
    overflow: hidden;
    position: absolute;
}