
/**
 * Icons
 * -----------------------------------------------------------------------------
 <a class='' href='#'>
 	<i class='i s_icons_icon_name'></i>
 	A link!
 </a>
 */
.i {
    @extend .inline-block;
    vertical-align: middle;
    font-style: normal;
}

/**
 * Icon adjacent to a block of text
 * -----------------------------------------------------------------------------
 <a class='icon-text' href='#'>
    <i class='i s_icons_icon_name'></i>
    <span class='icon-text__label'></span>
    A link!
 </a>
 */
.icon-text{
    @extend .inline-block;
    vertical-align: middle;
}

    .icon-text > .i {
        vertical-align: middle;
        margin-right: $base-spacing-unit / 4;
    }
    
    .icon-text > .icon-text__label {
        @extend .inline-block;
        vertical-align: middle;
    }