/**
 *
 * Themes
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *
 *      1. Warning Themes
 *		2. Float Helpers
 *      3. Absolute positioning helpers
 *      4. Generic blocks
 *      5. Media blocks
 *      6. Inline Grid  
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */



/**
 * 2. 
 * -----------------------------------------------------------------------------
 */
.text_muted  {
	color:#999;
}

$success-text: #468847;
$warning-text: #c09853;
$danger-text: #b94a48;

.text_success {
  color: $success-text;
}

.text_warning {
  color: $warning-text;
}

.text_danger {
  color: $danger-text;
}

$success-bg:#468847;
$warning-bg:#c09853;
$danger-bg:#b94a48;

.success {
	background-color: $success-bg;
}

.warning {
	background-color: $warning-bg ;
}

.danger {
	background-color: $danger-bg ;
}

.theme__block_success {
	background-color: $success-bg  ;
	//color: $state-success-text;
	//border-color:$state-success-border;
}

.theme__block_warning {
	background-color: $warning-bg ;
	//color: $state-warning-text;
	//border-color:$state-warning-border;
}

.theme__block_danger {
	background-color: $danger-bg;
	//color:$state-danger-text;
	//border-color:$state-danger-border;
}


/**
 * 2. 
 * -----------------------------------------------------------------------------
 */
 
.bt-0 {
	border-top:0!important;
}
.bb-0 {
	border-bottom:0!important;
}
.theme__block_100 {
	background-color: #fff;
	//color: ;
	//border-color:#ccc ;
	//border:1px solid #ccc;
	//box-shadow: 0 1px 4px 1px #B4B6A9, 2px 2px 1px 0 #FFFFFF inset;
	
	box-shadow: 1px 1px 2px #FFFFFF inset, 1px 1px 3px 0 #D7D8CF;
}

.theme__block_150 {
	background-color: #FAFBF7;
	//color: ;
	//border-color:#ccc ;
	border:1px solid #E1E2DE;
	//box-shadow: 0 1px 4px 1px #B4B6A9, 2px 2px 1px 0 #FFFFFF inset;
	
	//box-shadow: 1px 1px 2px #FFFFFF inset, 1px 1px 3px 0 #D7D8CF;
}

.theme__block_200 {
	background-color: #A6E22E ;
	//color: ;
	//border-color: ;
	//border:1px solid #ccc;
}

.theme__block_300 {
	background-color: #F92672;
	//color: ;
	//border-color: ;
}

/*
.theme__block_400 {
	background-color: pink;
	//color: ;
	//border-color: ;
}

.theme__block_500 {
	background-color: ;
	color: ;
	border-color: ;
}
*/
.theme__block_600 {
	background-color:#61625E ;
	color: #fff;
	//border:1px solid #fff ;
}
/*

.theme__block_700 {
	background-color:#444 ;
	color: #fff;
	border-color:#000 ;
}
*/
.theme__block_800 {
	background-color: #2E2F2B;
	//color: ;
	//border-color: ;
}
.theme__block_blue {
	background-color: #4aa1c5;
	color: #fff;
	border:1px solid #4aa1c5;
}

.text_muted {
	color:#999999;
}