/**
 *
 * Themes
 *
 * ----------------------------------------------------------------------------
 * 
 * Structure:
 *
 *      1. Warning Themes
 *		2. Text colours
 		3. Theme blocks
 *
 *
 *
 * ----------------------------------------------------------------------------
 *
 */


/**
 * 2. Text colours
 * -----------------------------------------------------------------------------
 */
 
%border {
    border-style: solid;
    border-width: 1px;
}

.text_muted  {
	color:$text-muted;
}

.text_success {
  color: $text-success;
}

.text_warning {
  color: $text-warning;
}

.text_danger {
  color: $text-danger;
}


/**
 * 2. Theme blocks
 * -----------------------------------------------------------------------------
 */


 .theme__block_success {
	background-color: $success-block-bg  ;
	color: $success-block-text;
	@extend %border;
	border-color:$success-block-border;
}

.theme__block_warning {
	background-color: $warning-block-bg;
	color: $warning-block-text;
	@extend %border;
	border-color:$warning-block-border;
}

.theme__block_danger {
	background-color: $danger-block-bg;
	color:$danger-block-text;
	@extend %border;
	border-color:$danger-block-border;
}



/**
 * 2. 
 * -----------------------------------------------------------------------------
 */
 

.theme__block_600 {
	background-color:#61625E ;
	color: #fff;
	//border:1px solid #fff ;
}


/**
 * Main theme colours of your site
 * -----------------------------------------------------------------------------
 */

.tb__primary {
	@include theme-block( $primary-bg-color, $primary-txt-color, $primary-border-color );
	@extend %border;
	box-shadow: 1px 1px 2px #FFFFFF inset, 1px 1px 3px 0 #D7D8CF;
}

.tb__secondary {
	@include theme-block( $secondary-bg-color, $secondary-txt-color, $secondary-border-color );
	@extend %border;
}

.tb__tertiary {
	@include theme-block( $tertiary-bg-color, $tertiary-txt-color, $tertiary-border-color );
	@extend %border;
}

.tb__quarternary {
	@include theme-block( $quarternary-bg-color, $quarternary-txt-color, $quarternary-border-color );
	@extend %border;
}

/**
 * 
 * -----------------------------------------------------------------------------
 */


.tb__green {
	@include theme-block( $green-bg-color, $green-txt-color, $green-border-color );
	@extend %border;
}

.tb__pink {
	@include theme-block( $pink-bg-color, $pink-txt-color, $pink-border-color );
	@extend %border;
}

.tb__blue {
	@include theme-block( $blue-bg-color, $blue-txt-color, $blue-border-color );
	@extend %border;
}

