/**
 *
 * Typography defaults
 * -----------------------------------------------------------------------------
 *
 * Structure:
 *
 *      1. Heading styles
 *		2. Sub Heading styles
 *      3. Paragraph styles
 *      4. Typographic relationships
 *      5. Sans vs sans serif
 *      6. Lower vs Uppercase
 *		7. Text allignments
 *		8. List styles
 *      9. Fix webkit font rendering
 *
 * ----------------------------------------------------------------------------
 *
 */


/** 1. Header styles
 * ----------------------------------------------------------------------------
 *
 */

h1, .h1 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 2.25em;                      /* 36px */
    line-height: 1;                         /* 36px */
    margin-top: .666666667em;               /* 24px */
}

h2, .h2 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1.875em;                     /* 30px */
    line-height: 1.2;
    margin-top: .8em;                       /* 24px */
}

h3, .h3 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1.375em;                     /* 22px */
    line-height: 1.2;
    margin-top: 1.090909091em;              /* 24px */
}

h4, .h4 {
    @extend .m0--b;
    @extend .fix-webkit-font-rendering;
    //font-family:$serifStack;
    font-size: 1.125em;                     /* 18px */         
    line-height: 1.33333333;                /* 24px */
    margin-top: 1.11111111em;               /* 20px */
}

h5, .h5 {
    @extend .m0--b;
    //font-family:$serifStack;
    font-size: 1em;                         /* 16px */
    line-height: 1.2;
    margin-top: .75em;                      /* 12px */
}

h6, .h6 {
    @extend .m0--b;
    //font-family:$sansSerifStack;
    font-size: .875em;                      /* 14px */
    line-height: 1.2;
    margin-top: .857142857em;               /* 12px */
}



/** 2. Sub Heading styles
 * ----------------------------------------------------------------------------
 *
 */


/**
 *  3. Paragraph styles
 * ----------------------------------------------------------------------------
 */

p, .para {
    @extend .m0--b;
    font-size: .875em;                      /* 14px */
    line-height: 1.785714286em;             /* 25px */
    margin-top: .857142857em;               /* 12px */
}

.medium{
    font-size: .875em;                      /* 14px */
}

.intro { 
    font-size: 1.125em;                     /* 18px */
}

.small { 
    font-size: .8125em;                     /* 14px */
}

.tiny {
    font-size: .75em;                       /* 12px */
}
//TODO
.weak {
    font-weight: normal;
}



/**
 * 4. Typographic relationships (nawww, aren't they so good together?)
 * ----------------------------------------------------------------------------
 */

h4 + h6,
h4 + p,
h5 + p {
    margin-top: .285714286em;               /* 4px @ 14px */
}

p + p{
    margin-top: .571428571em;               /* 8px @ 14px */               
}



/** 5. Sans/serif text
 * ----------------------------------------------------------------------------
 *
 */
$sansSerifStack: "helvetica", sans-serif ;
$serifStack: "georgia", serif;

html,
body {
    color: #2E2F2B;
    font-family: $sansSerifStack;
}

.sans {
    font-family: $sansSerifStack;
}

.serif {
    font-family: $serifStack;
}




/**
 *  6. Lowercase vs Uppercase
 * ----------------------------------------------------------------------------
 */
.caps {
    text-transform:uppercase;
}
.caps-lower {
    text-transform:lowercase;
}




/**
 * 7. Text Allignment classes
 * ----------------------------------------------------------------------------

    <p class="text_align--left">Left aligned text.</p>
    <p class="text_align--center">Center aligned text.</p>
    <p class="text_align--right">Right aligned text.</p>

 */

.text-align--left { 
    text-align: left;
}
.text-align--right { 
    text-align: right;
}
.text-align--center{
    text-align: center;
}



/**
 * 8. List styles
 * ----------------------------------------------------------------------------
 */

.list--unstyled {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

	.list--unstyled > li {
        list-style: none;
        margin-left: 0;
    }

.list--inline {
	@extend .clearfix;
    @extend .list--unstyled;
}

	.list--inline > li {
		@extend .inline-block;
	}

/**
 * 9. Fix webkit font rendering
 * ----------------------------------------------------------------------------
 */
 
/**
 * Since v22, Chrome makes fat sausage horrible web typography. Fix it with 
 * these properties right here. Maybe consider scoping this to a class for
 * chrome/mac osx only at some point?
 */

.fix-webkit-font-rendering{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
