/*Close icon*/


/*

images rounded etc<img src="..." alt="..." class="img-rounded">
<img src="..." alt="..." class="img-circle">
<img src="..." alt="..." class="img-thumbnail">
*/



/*

table styles
Basic example
Striped rows
Bordered table
Hover rows
Condensed table
Contextual classes
Responsive tables

*/
/*
fomrs
*/


/*


Description lists
    A description list is perfect for defining terms.
Euismod
    Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    Donec id elit non mi porta gravida at eget metus.
Malesuada porta
    Etiam porta sem malesuada magna mollis euismod.

<dl>
  <dt>...</dt>
  <dd>...</dd>
</dl>

Horizontal description



Description lists
    A description list is perfect for defining terms.
Euismod
    Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    Donec id elit non mi porta gravida at eget metus.
Malesuada porta
    Etiam porta sem malesuada magna mollis euismod.
Felis euismod semper eget lacinia
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.



<dl class="dl-horizontal">
  <dt>...</dt>
  <dd>...</dd>
</dl>

*/


/**
 * Emphasis classes

 * ----------------------------------------------------------------------------
 <p class="text-muted">...</p>
<p class="text-primary">...</p>
<p class="text-success">...</p>
<p class="text-info">...</p>
<p class="text-warning">...</p>
<p class="text-danger">...</p>
    change the colours 
 */

/**
 * Responsive images <img src="..." class="img-responsive" alt="Responsive image">

 * ----------------------------------------------------------------------------
 */
.img-responsive {
    height: auto;
    max-width: 100%;
}





.user-select-none{
    @include vendor(user-select, none);
}





/**
 * CSS Arrows
 * ----------------------------------------------------------------------------
 */

	







/**
 * Fancy select boxes
 * -----------------------------------------------------------------------------
 * 
    <div class="field_select" data-select>
        <div data-select-label="SelectID" class="field_select__value field field_text ">Nope</div>
            <select class="field_select__input" id="SelectID" name="SelectID">
                <option value="0" selected="">Nope</option>
                <option value="1">Yep</option>
            </select>
        <div class="field_select__affordance">
            <i class="i s_preapproval_select_normal"></i>
        </div>
    </div>
 */
.field_select {
    @extend .relative;
    cursor: pointer;
}

    .field_select:hover {
        .field_select__value {
            background-color: #eee;
            border-bottom-color: #ddd;
        }
        .field_select__affordance .i {
        }
    }

    .field_select__input{
        width: 100%;
    }

    .js .field_select__input {
        @extend .absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        @include opacity(0);
        -webkit-appearance: menulist-button;
        display: block;
        z-index: 2;
        cursor: pointer;
    }

    .field_select__affordance,
    .field_select__affordance--mobile{
        @extend .absolute;
        right: .5em;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
    }

    .field_select__affordance{
        @include media(mobile-only) {
            display: none;
        }
    }

    .field_select__affordance--mobile{
        display: none;
        @include media(mobile-only) {
            display: block;
        }
    }

    .no-js .field_select__value,
    .no-js .field_select__affordance,
    .no-js .field_select_affordance--mobile{
        display: none;
    }


/**
 * Fancy checkboxes
 * -----------------------------------------------------------------------------
 * 
    <div class="icon_text">
        <div class="i field_checkbox" data-checkbox>
            <i class="field_checkbox__fancy"></i>
            <input type="checkbox" id="CheckboxID" name="CheckboxID" value="1">
            <label class="icon_text__label field_checkbox__label" for="CheckboxID">We consent to a credit check</label>
        </div>
    </div>
 */

.field_checkbox{
    @extend .relative;

    line-height: 1;

    & > input{
        margin: 0;
    }

    .js & > input {
        @extend .absolute;
        top: 0;
        left: 0;

        /**
         * IE8 refuses to fire events on a hidden checkbox. Use opacity instead
         */
        @include opacity(0);
    }
}

    .field_checkbox__fancy {
        @extend .relative;
        // add your icon here

        display: inline-block;
        vertical-align: middle;
        z-index: 1;
        top: 0;
        left: 0;

        .no-js & {
            display: none;
        }
        .field_checkbox--checked & {
            // add your icon here
        }
    }

    .field_checkbox,
    .field_checkbox__label{
        cursor: pointer;
    }